{% extends "../../sub_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'account:account_profile' as account_url %}
                        {% url 'account:team_list' as team_list_url %}
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb "Profile" account_url%}
                        {% breadcrumb "Team Detail" team_list_url%}
                        {% breadcrumb "Add member" %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_content %}
    <div class="card-body tab-content">
        <h6>Add a team</h6>
        <hr>
        <form method="post">
            {% csrf_token %}

            <table>
                {% for field in form %}
                    <tr>
                        <td>
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </td>
                        <td>
                            {% render_field field class="form-control" %}
                            <div class="{% if field.errors %}invalid{% endif %}">
                                {% for error in field.errors %}
                                    <p class="help-block">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% if form.non_field_errors %}
                    <tr>
                        <td colspan="2">
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <input type="submit" class="custom-button btn" value="Add member">
        </form>
    </div>
{% endblock %}