{% extends "base.html" %}

{% block breadcrumb %}
        {% include "extbackup/exbackup_breadcrumb.html" %}
{% endblock %}

{% block content %}
    <div class="extension_form">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4 table-wrapper table-responsive">
                    <h2 class="h5 mb-4">{% if object %}Edit{% else %}Add{% endif %} Extension</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary " type="submit">Save</button>
                        <a class="btn btn-danger" href="{% url 'extbackup:extension_list' %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block script %}
    {% include "snippets/add_active_class.html" %}
{% endblock script %}
