{% extends "base.html" %}

{% block breadcrumb %}
    {% include "extbackup/exbackup_breadcrumb.html" %}
{% endblock %}

{% block content %}
    <div class="extension_dashboard">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4 table-wrapper table-responsive">
                    <h2 class="h5 mb-4">Extentions Dashboard</h2>
                    <div class="mt-3">
                        <a href="{% url 'extbackup:extension_create' %}" class="btn btn-primary mb-4"><span class="fas fa-plus mr-2"></span>Add Extension</a>
                        <a href="{% url 'extbackup:extension_export' %}" class="btn btn-warning mb-4"><span class="fas fa-file-export mr-2"></span>Export Extension</a>

                    </div>
                    <form action="{% url 'extbackup:delete_all_extension' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger mb-2 delete-button" type="submit" data-confirm="Are you sure you want to delete selected extensions ?">Delete Selected Files</button>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th><input id="check_all" class="form-check-input" type="checkbox"></th>
                                <th class="border-0 rounded-start" scope="col">#</th>
                                <th class="border-0" scope="col">Extension</th>
                                <th class="border-0 rounded-end" scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for extension in object_list %}
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" name="ids" value="{{ extension.pk }}"></td>
                                    <td class="border-0">{{ extension.pk }}</td>
                                    <td class="border-0">{{ extension.extension }}</td>
                                    <td class="">
                                        <div class="btn-group">
                                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'extbackup:extension_update' extension.pk %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                                                {#                                                <a class="dropdown-item text-danger" href="{% url 'extbackup:extension_delete' extension.pk %}"><span class="fas fa-trash-alt mr-2"></span>Remove</a>#}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
{% block script %}
    {% include "snippets/add_active_class.html" %}
    <script>
        $(document).ready(function() {
            $('.delete-button').on('click', function(event) {
                event.preventDefault();
                var message = $(this).data('confirm');
                $('#confirmMessage').text(message);
                $('#confirmModal').modal('show');
                $('#confirmButton').on('click', function() {
                    $('#confirmModal').modal('hide');
                    $(event.target).closest('form').submit();
                });
            });
        });
        $(function() {
            //If check_all checked then check all table rows
            $("#check_all").on("click", function () {
                if ($("input:checkbox").prop("checked")) {
                    $("input:checkbox[name='ids']").prop("checked", true);
                } else {
                    $("input:checkbox[name='ids']").prop("checked", false);
                }
            });
            // Check each table row checkbox
            $("input:checkbox[name='ids']").on("change", function () {
                var total_check_boxes = $("input:checkbox[name='ids']").length;
                var total_checked_boxes = $("input:checkbox[name='ids']:checked").length;

                // If all checked manually then check check_all checkbox
                if (total_check_boxes === total_checked_boxes) {
                    $("#check_all").prop("checked", true);
                }
                else {
                    $("#check_all").prop("checked", false);
                }
            });
        });
    </script>
{% endblock script %}