{% extends 'base.html' %}

{% block content %}
    <section class="d-flex align-items-center my-5 mt-lg-3 mb-lg-5">
        <div class="container">
            <h5>Wait a minute, you already have selected a privious plan !</h5>
            <p>Please confirm if you want to proceed to the checkout for your chosen subscription plan : </p><span class="btn btn-secondary">{{ plan.product.name }} | {{ plan.amount }}$/{{ plan.interval }}</span></p>

            <form method="post" action="{% url 'subscriptions:confirm_checkout' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="hidden" name="plan_id" value="{{ plan_id }}">
                <button type="submit" name="action" value="proceed" class="btn btn-primary">Yes, proceed to checkout</button>
                <button type="submit" name="action" value="change_plan" class="btn btn-warning">Change my plan</button>
                <button type="submit" name="action" value="cancel" class="btn btn-danger">No, cancel my account</button>
            </form>
            <br>
        </div>
    </section>
{% endblock %}