{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container-fluid-custom">
        <section class="d-flex align-items-center my-5 mt-lg-3 mb-lg-5">
            <h5>{% trans "Wait a minute, you already have selected a privious plan !" %}</h5>
            <p>{% trans "Please confirm if you want to proceed to the checkout for your chosen subscription plan :" %} </p><span class="btn btn-secondary">{{ plan.product.name }} | {{ plan.amount }}$/{{ plan.interval }}</span></p>

            <form method="post" action="{% url 'subscriptions:confirm_checkout' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="hidden" name="plan_id" value="{{ plan_id }}">
                <button type="submit" name="action" value="proceed" class="btn btn-primary">{% trans "Yes, proceed to checkout" %}</button>
                <button type="submit" name="action" value="change_plan" class="btn btn-warning">{% trans "Change my plan" %}</button>
                <button type="submit" name="action" value="cancel" class="btn btn-danger">{% trans "No, cancel my account" %}</button>
            </form>
            <br>
        </section>
    </div>
{% endblock %}