{% extends 'base.html' %}
{% load breadcrumb %}

{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" style="width: auto!important">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb 'Subscriptions List' %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="price_plan_area section_padding_130_80 py-5" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h6 data-aos="fade-right" data-aos-delay="100">Pricing Plans</h6>
                        <h3 data-aos="fade-right" data-aos-delay="400">Let's find a way together</h3>
                        <p data-aos="fade-right" data-aos-delay="400">Choose your plan, take what you need for you.</p>
                        <div data-aos="fade-right" data-aos-delay="400" class="line"></div>
                    </div>
                </div>
            </div>

            {% for plan in plans %}
                <!-- Single Price Plan Area-->
                <div data-aos="fade-right" data-aos-delay="500" class="single_price_plan" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="row plan-row">
                        <div class="col-12 col-md-4">
                            <!-- Plan Title -->
                            <div class="title">
                                {% if plan.metadata.popular == "true" %}
                                    <!-- Side Shape-->
                                    <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
                                    <span>Popular</span>
                                {% endif %}
                                <h3>{{ plan.product.name }}</h3>
                                <p>{{ plan.metadata.subtitle }}</p>
                                <div class="line"></div>
                            </div>
                            <!-- Plan Price -->
                            <div class="price">
                                <h4>{{ plan.amount }}$/{{ plan.interval }}</h4>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <!-- Plan Description -->
                            <div class="description">
                                <p>{{ plan.description }}</p>
                                <p><i class="material-symbols-outlined">check_circle</i>{{ plan.metadata.option_one }}</p>
                                <p><i class="material-symbols-outlined">check_circle</i>{{ plan.metadata.option_two }}</p>
                                <p><i class="material-symbols-outlined">check_circle</i>{{ plan.metadata.option_three }}</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 text-center">
                            <div class="slide-container">
                                <div class="slider" data-id="{{ plan.id }}" onclick="handleSelectPlan(this)">
                                    <!-- The arrow is added using CSS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>
{% endblock content %}

{% block script %}
    <script>
        const isAuthenticated = "{{ request.user.is_authenticated }}" === "True";

        function handleSelectPlan(button) {
            const planId = button.getAttribute("data-id");
            localStorage.setItem("selectedPlan", planId);
            setCookie("selectedPlan", planId);
            if (isAuthenticated) {
                window.location.href = "{% url 'subscriptions:CreateCheckoutSession' %}"
            }else {
                window.location.href = "{% url 'account:RegisterView' %}"
            }
        }

        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    </script>
{% endblock script %}