{% extends 'base.html' %}
{% load i18n %}
{% load breadcrumb %}

{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" style="width: auto!important">
                <nav data-aos="fade-down" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb 'Subscriptions List' %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <section class="price_plan_area section_padding_130_80 py-5" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h6 data-aos="fade-right" data-aos-delay="110">{% translate "Pricing Plans" %}</h6>
                        <h3 data-aos="fade-right" data-aos-delay="120">{% translate "Let's find a way together"%}</h3>
                        <p data-aos="fade-right" data-aos-delay="130">{% translate "Choose your plan, take what you need for you." %}</p>
                        <div data-aos="fade-right" data-aos-delay="140" class="line"></div>
                    </div>
                </div>
            </div>

            {% get_current_language as LANGUAGE_CODE %}
            {% for plan in plans %}
                <!-- Single Price Plan Area-->
                <div data-aos="fade-right" data-aos-delay="150" class="single_price_plan" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="row plan-row">
                        <div class="col-12 col-md-4">
                            <!-- Plan Title -->
                            <div class="title">
                                {% if plan.metadata.popular == "true" %}
                                    <!-- Side Shape-->
                                    <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
                                    <span>{% translate "Popular" %}</span>
                                {% endif %}
                                <h3>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.metadata.fr_name }}
                                    {% else %}
                                        {{ plan.product.name }}
                                    {% endif %}
                                </h3>
                                <p>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.metadata.fr_subtitle }}
                                    {% else %}
                                        {{ plan.metadata.subtitle }}
                                    {% endif %}
                                </p>
                                <div class="line"></div>
                            </div>
                            <!-- Plan Price -->
                            <div class="price">
                                <h4>
                                    {{ plan.amount }}
                                    {% if LANGUAGE_CODE == "fr" %}
                                        €/{% translate "month" %}
                                    {% else %}
                                        $/{{ plan.interval }}
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Plan Description -->
                            <div class="description">
                                <p>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.metadata.fr_desc }}
                                    {% else %}
                                        {{ plan.description }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-sm-6">
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% if LANGUAGE_CODE == "fr" %}
                                            {{ plan.metadata.fr_option_one }}
                                        {% else %}
                                            {{ plan.metadata.option_one }}
                                        {% endif %}
                                    </p>
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% if LANGUAGE_CODE == "fr" %}
                                            {{ plan.metadata.fr_option_two }}
                                        {% else %}
                                            {{ plan.metadata.option_two }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% if LANGUAGE_CODE == "fr" %}
                                            {{ plan.metadata.fr_option_three }}
                                        {% else %}
                                            {{ plan.metadata.option_three }}
                                        {% endif %}
                                    </p>
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% translate "Limit Users" %}: {{ plan.metadata.limit_users }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <div class="slide-container">
                                <div class="slider" data-id="{{ plan.id }}" onclick="handleSelectPlan(this)">
                                    <!-- The arrow is added using CSS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        const isAuthenticated = "{{ request.user.is_authenticated }}" === "True";
        function handleSelectPlan(button) {
            const planId = button.getAttribute("data-id");
            // Send a POST request to set the selected plan in the Django session
            fetch("{% url 'subscriptions:set_selected_plan' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ plan_id: planId })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // The selected plan was successfully set in the Django session
                        // Redirect the user to the registration page or the checkout page as before
                        if (isAuthenticated) {
                            window.location.href = "{% url 'subscriptions:CreateCheckoutSession' %}";
                        } else {
                            window.location.href = "{% url 'account:RegisterView' %}";
                        }
                    } else {
                        // Handle error
                        console.error("Failed to set selected plan: " + data.error);
                        console.error("Failed to set selected plan:", data);
                    }
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        {#const isAuthenticated = "{{ request.user.is_authenticated }}" === "True";#}
        {##}
        {#function handleSelectPlan(button) {#}
        {#    const planId = button.getAttribute("data-id");#}
        {#    localStorage.setItem("selectedPlan", planId);#}
        {#    setCookie("selectedPlan", planId);#}
        {#    if (isAuthenticated) {#}
        {#        window.location.href = "{% url 'subscriptions:CreateCheckoutSession' %}"#}
        {#    }else {#}
        {#        window.location.href = "{% url 'account:RegisterView' %}"#}
        {#    }#}
        {#}#}
            {##}
            {#function setCookie(name,value,days) {#}
            {#    var expires = "";#}
            {#    if (days) {#}
            {#        var date = new Date();#}
            {#        date.setTime(date.getTime() + (days*24*60*60*1000));#}
            {#        expires = "; expires=" + date.toUTCString();#}
            {#    }#}
            {#    document.cookie = name + "=" + (value || "")  + expires + "; path=/";#}
            {#}#}
    </script>
{% endblock script %}