{% extends 'base.html' %}
{% load i18n %}
{% load breadcrumb %}

{% block breadcrumbs %}
    <div class="container-fluid-custom2">
        <div class="breadcrumb-container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4" style="width: auto!important">
                    <nav data-aos="fade-down" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                        <ol class="breadcrumb mb-4">
                            {% url 'home' as home_url %}
                            {% breadcrumb "Home" home_url %}
                            {% breadcrumb 'Subscriptions List' %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <section class="price_plan_area section_padding_130_80 py-5" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h6 data-aos="fade-right" data-aos-delay="110">{% translate "Pricing Plans" %}</h6>
                        <h3 data-aos="fade-right" data-aos-delay="120">{% translate "Let's find a way together"%}</h3>
                        <p data-aos="fade-right" data-aos-delay="130">{% translate "Choose your plan, take what you need for you." %}</p>
                        <div data-aos="fade-right" data-aos-delay="140" class="line"></div>
                    </div>
                </div>
            </div>

            {% get_current_language as LANGUAGE_CODE %}
            {% for plan in plans %}
                <!-- Single Price Plan Area-->
                <div data-aos="fade-right" data-aos-delay="150" class="single_price_plan"
                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
                     data-id="{{ plan.id }}" data-is-custom="{% if plan.metadata.is_entreprise == 'true' %}true{% else %}false{% endif %}">
                    <div class="row plan-row">
                        <div class="col-12 col-md-4">
                            <!-- Plan Title -->
                            <div class="title">
                                {% if plan.metadata.popular == "true" %}
                                    <!-- Side Shape-->
                                    <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
                                    <span>{% translate "Popular" %}</span>
                                {% endif %}
                                <h3>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.metadata.fr_name }}
                                    {% else %}
                                        {{ plan.product.name }}
                                    {% endif %}
                                </h3>
                                <p>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.metadata.fr_subtitle }}
                                    {% else %}
                                        {{ plan.metadata.subtitle }}
                                    {% endif %}
                                </p>
                                <div class="line"></div>
                            </div>
                            <!-- Plan Price -->
                            <div class="price">
                                {% if plan.multi_prices %}
                                    <!-- Default Price Display -->
                                    <h4>
                                        {{ plan.amount }}
                                        {% if LANGUAGE_CODE == "fr" %}
                                            €/{% translate "month" %}
                                        {% else %}
                                            $/{{ plan.interval }}
                                        {% endif %}
                                    </h4>
                                    <!-- "Or" Separator -->
                                    <div class="or-separator">{% trans "or custom price and storage" %}</div>
                                    <!-- Dropdown for Other Prices -->
                                    <select id="custom_storage" class="other-prices-dropdown">
                                        <optgroup label="Monthly">
                                            {% for price in plan.multi_prices %}
                                                {% if price.interval == "month" %}
                                                    <option value="{{ price.id }}" data-amount="{{ price.amount }}" data-storage="{{ price.storage_limit }}">
                                                        {{ price.storage_limit }} GB -
                                                        {% if LANGUAGE_CODE == "fr" %}
                                                            {{ price.amount }} €/{% translate "month" %}
                                                        {% else %}
                                                            ${{ price.amount }} /{{ plan.interval }}
                                                        {% endif %}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>

                                        <optgroup label="Annually">
                                            {% for price in plan.multi_prices %}
                                                {% if price.interval == "year" %}
                                                    <option value="{{ price.id }}" data-amount="{{ price.amount }}" data-storage="{{ price.storage_limit }}">
                                                        {{ price.storage_limit }} GB -
                                                        {% if LANGUAGE_CODE == "fr" %}
                                                            {{ price.amount }} €/{% translate "year" %}
                                                        {% else %}
                                                            ${{ price.amount }} /{{ plan.interval }}
                                                        {% endif %}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                {% else %}
                                    <h4>
                                        {{ plan.amount }}
                                        {% if LANGUAGE_CODE == "fr" %}
                                            €/{% translate "month" %}
                                        {% else %}
                                            $/{{ plan.interval }}
                                        {% endif %}
                                    </h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Plan Description -->
                            <div class="description">
                                <p>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.metadata.fr_desc }}
                                    {% else %}
                                        {{ plan.description }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 col-sm-6">
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% if LANGUAGE_CODE == "fr" %}
                                            {{ plan.metadata.fr_option_one }}
                                        {% else %}
                                            {{ plan.metadata.option_one }}
                                        {% endif %}
                                    </p>
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% if LANGUAGE_CODE == "fr" %}
                                            {{ plan.metadata.fr_option_two }}
                                        {% else %}
                                            {{ plan.metadata.option_two }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% if LANGUAGE_CODE == "fr" %}
                                            {{ plan.metadata.fr_option_three }}
                                        {% else %}
                                            {{ plan.metadata.option_three }}
                                        {% endif %}
                                    </p>
                                    <p><i class="material-symbols-outlined align-middle mx-2 my-2">check_circle</i>
                                        {% translate "Limit Users" %}: {{ plan.metadata.limit_users }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <div class="slide-container">
                                <div class="slider" data-id="{{ plan.id }}" onclick="handleSelectPlan(this)">
                                    <!-- The arrow is added using CSS -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <style>
        /* Styling for the "or" separator */
        .or-separator {
            margin: 0.5rem 0;  /* Vertical spacing around the "or" */
            font-size: 1rem;  /* Font size for "or" */
            color: var(--clr-red-purple-1);  /* Color for "or" */
            text-align: left;  /* Center the "or" */
        }

        /* Basic styling for the dropdown */
        .other-prices-dropdown {
            width: 60%;
            padding: 5px;
            font-size: 1rem;  /* Adjust as necessary */
            border: 1px solid #ccc;  /* Simple border */
            border-radius: 5px;  /* Rounded corners */
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .other-prices-dropdown:focus {
            border-color: var(--clr-purple-1);
            box-shadow: 0 0 0 0.2rem rgba(129, 0, 255, 0.25);
        }

    </style>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        const isAuthenticated = "{{ request.user.is_authenticated }}" === "True";

       function handleSelectPlan(slider) {
    // Using the provided slider element, find its closest '.single_price_plan' parent
    const $planContainer = $(slider).closest('.single_price_plan');

    // Extract attributes/data from the plan container
    const isCustomizedPlan = $planContainer.data('is-custom');
    const planId = $planContainer.data('id');

    console.log('Is Customized Plan:', isCustomizedPlan);

    let customStoragePriceId = null;
    let customPrice = null;

    // If it's a customized plan, get additional details
    if (isCustomizedPlan) {
        const $customStorageSelect = $planContainer.find('#custom_storage');
        customStoragePriceId = $customStorageSelect.val();
        const selectedOption = $customStorageSelect.find('option:selected');
        customPrice = selectedOption.data('amount');

        console.log('Custom Storage Price ID:', customStoragePriceId);
        console.log('Custom Price:', customPrice);
    }

    // Send a POST request to set the selected plan in the Django session
    $.ajax({
        url: "{% url 'subscriptions:set_selected_plan' %}",
        method: 'POST',
        dataType: 'json',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        data: JSON.stringify({
            plan_id: planId,
            custom_storage: customStoragePriceId,
            custom_price: customPrice
        }),
        success: function(data) {
            if (data.status === 'success') {
                // The selected plan was successfully set in the Django session
                // Redirect the user to the registration page or the checkout page as before
                if (isAuthenticated) {
                    window.location.href = "{% url 'subscriptions:CreateCheckoutSession' %}";
                } else {
                    window.location.href = "{% url 'account:RegisterView' %}";
                }
            } else {
                console.error("Failed to set selected plan:", data.error);
            }
        },
        error: function(err) {
            console.error("Ajax error:", err);
        }
    });
}

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock script %}