{% extends 'base.html' %}
{% load breadcrumb %}

{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" style="width: auto!important">
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'subscriptions:SubListView' as plans_list_url %}
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb 'Subscriptions List' plans_list_url %}
                        {% breadcrumb 'Subscription Cancel' %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <section class="py-5">
        <div class="container">
            <h2>Cancel Subscription</h2>
            <p>Are you sure you want to cancel your subscription?</p>
            <p>
                Please note that if you cancel your checkout process now,
                you will have 24 hours to complete your payment.
                If your payment is not received within this period,
                your account will be deactivated and potentially removed.
                Please ensure you complete your payment within the next 24 hours
                if you wish to continue using our services.
            </p>
            <form method="post" action="{% url 'subscriptions:CancelConfirmView' %}">
                {% csrf_token %}
                <button type="submit" name="cancel" class="prm-btn btn" style="background-color: var(--clr-red-purple-1);color:white;">Yes, cancel subscription</button>
                <button type="submit" name="return_checkout" class="prm-btn btn mx-2">Return to checkout</button>
            </form>
        </div>
    </section>
{% endblock %}