{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
 <!-- Section -->
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5 form-bg-image" style="background-image: url({% static 'illustrations/signin.svg' %})">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <p class="text-center"><a href="{% url 'account:login' %}" class="text-gray-700"><i class="fas fa-angle-left mr-2"></i> {% trans "Back to sign in" %}</a></p>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <h1 class="h3 mb-4">{% trans "Forgot your password?" %}</h1>
                            <p class="mb-4">{% trans "Don't fret! Just type in your email and we will send you a code to reset your password!" %}</p>
                            <form method="post" action="">
                                {% csrf_token %}
                                <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">{% trans "Your Email" %}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                                    <input name="email" type="email" class="form-control" placeholder="example@company.com" id="email" autofocus required>
                                </div>
                            </div>
                                <!-- End of Form -->
                                <button type="submit" class="btn btn-block btn-primary">{% trans "Reset password" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{#	<!--Reset Password-->#}
{#	<div class="container p-5">#}
{#  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>#}
{#		<hr>#}
{#		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{#            <button class="btn btn-primary" type="submit">Send email</button>#}
{#        </form>#}
{#  	</div>#}

{% endblock %}