{% extends 'base.html' %}
{% load example %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block title %}Password Reset Confirm Page{% endblock %}
{% block content %}


    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5 form-bg-image" style="background-image: url({% static 'illustrations/signin.svg' %})">
        <div class="container">
            <div class="row justify-content-center form-bg-image">
                <p class="text-center"><a href="{% url 'account:login' %}" class="text-gray-700"><i class="fas fa-angle-left mr-2"></i> {% trans "Back to log in" %}</a></p>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <h1 class="h3 mb-4">{% trans "Reset password" %}</h1>
                        <form method="post" action="">
                            {% csrf_token %}

                            {% for field in form %}
    <div class="form-group mb-4">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon4">
                <span class="fas fa-unlock-alt"></span>
            </span>
            {{ field|add_attrs:'class:form-control, placeholder:true' }}
        </div>
        {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors.0 }}
            </div>
        {% endif %}
    </div>
{% endfor %}

                            <!-- End of Form -->
                            <!-- End of Form -->
                            <button type="submit" class="btn btn-block btn-primary">{% trans "Reset password" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}