{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profil_settings py-5">
        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Profile information</h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ first_name}}  {{ last_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ username }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ phone }}</p>
                                </div>
                            </div>
                            <hr>
                            <h2 class="h5 my-4">Address</h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-muted mb-0">{{ city }}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ address }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Number</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ number }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6 class="mb-0">Zip</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">{{ zip }}</p>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="mt-3">
                            {% if is_self %}
                                <a href="{% url 'accounts:account_edit' user_id=id %}" class="btn btn-primary">Edit All</a>
                                <a class="btn btn-primary" href="{% url 'password_change' %}">Change password</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light text-center p-0">
                            <div class="profile-cover rounded-top"
                                 data-background="/static/assets/img/profile-cover.jpg"></div>
                            <div class="card-body pb-5">

                                {% if user.avatar_url and 'default_user_icon.png' not in user.avatar_url %}
                                    <img src="{{ user.avatar_url }}" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                                {% else %}
                                    <img src="{% static 'dastore/default_user_icon.png' %}" class="border border-dark user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4">
                                {% endif %}
                                <h4 class="h3">{{ username }}</h4>
                                <h4 class="font-weight-normal">{{ first_name }} {{ last_name }}</h4>
                                <h5 class="font-weight-normal">
                                    {{ email }}
                                </h5>
                                <p class="text-gray mb-4">{{ city|default:'' }} | {{ number }}, {{ address|default:'' }}</p>

                                <p class="btn btn-secondary">Subscription Plan : {{ subscription_plan }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card card-body bg-white border-light shadow-sm mb-4">
                            <h2 class="h5 mb-4">Storage information</h2>
                            <!-- Create a canvas element to display the chart -->
                            <canvas id="storageUsageChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}

{% block script %}
    {#    <!-- Add JavaScript to create the chart -->#}
    <script>
        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        let storageUsed = {{ storage_used }};
        let storageUsedUnit = "{{ storage_used_unit }}";
        let storageLimit = {{ storage_limit }};
        let storageLimitUnit = "{{ storage_limit_unit }}";

        if (storageUsedUnit == "GB") {
            storageUsed *= 1024;
        }
        let usedPercentage = Math.round((storageUsed / (storageLimit * 1024)) * 100);
        let availablePercentage = 100 - usedPercentage;

        {#console.log("storageUsed", storageUsed);#}
        {#console.log("storageUsedUnit", storageUsedUnit);#}
        {#console.log("storageLimit", storageLimit);#}
        {#console.log("storageLimitUnit", storageLimitUnit);#}
        {#console.log("usedPercentage", usedPercentage);#}
        {#console.log("availablePercentage", availablePercentage);#}

        let ctx = document.getElementById('storageUsageChart').getContext('2d');
        let storageUsageChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Used', 'Available'],
                datasets: [{
                    data: [usedPercentage, availablePercentage],
                    backgroundColor: [getRandomColor(), getRandomColor()],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Storage Usage'
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            let dataset = data.datasets[tooltipItem.datasetIndex];
                            let index = tooltipItem.index;

                            if (index == 0) {
                                if (storageUsedUnit == "GB") {
                                    return 'Used: ' + (storageUsed / 1024).toFixed(2) + ' ' + storageUsedUnit;
                                }
                                else{
                                    return 'Used: ' + (storageUsed).toFixed(2) + ' ' + storageUsedUnit;
                                }
                            } else {
                                let avaiblable = (storageLimit * 1024 - storageUsed).toFixed(2)
                                if (avaiblable < 1000){
                                    return 'Available: ' + (storageLimit * 1024 - storageUsed).toFixed(2) + ' ' + 'MB';
                                }else{
                                    return 'Available: ' + (storageLimit - storageUsed /1024).toFixed(2) + ' ' + storageLimitUnit;

                                }
                            }
                        }
                    }
                }
            }
        });
    </script>

{% endblock script %}



