{% extends 'base.html' %}
{% load static %}

{% block middlebar %}
    {% include "accounts/account_middlebar.html" %}
{% endblock %}


{% block content %}
    <section class="user-profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{% if profile_image %}{{ profile_image.url }}{% else %}{% static 'dastore/default_user_icon.png' %}{% endif %}" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ request.user.username }}</h5>
                            <p class="text-muted mb-1">Full Stack Developer</p>
                            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                            {% if is_self %}
                                <a  class="btn-dark-all" href="{% url 'accounts:account_edit' user_id=id %}">Update</a>
                                <div class="d-flex flex-column mt-4">
                                    <a class="m-auto btn-dark-all" href="{% url 'password_change' %}">Change password</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Johnatan Smith</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ request.user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9">
                                    <h6 class="text-muted mb-0">(098) 765-4321</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Create a canvas element to display the chart -->
                            <canvas id="storageUsageChart"></canvas>

    </section>

{% endblock content %}

{% block script %}
    {#    <!-- Add JavaScript to create the chart -->#}
    <script>
        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var storageUsed = {{ storage_used }};
        var storageUsedUnit = "{{ storage_used_unit }}";
        var storageLimit = {{ storage_limit }};
        var storageLimitUnit = "{{ storage_limit_unit }}";

        if (storageUsedUnit == "GB") {
            storageUsed *= 1024;
        }
        var usedPercentage = Math.round((storageUsed / (storageLimit * 1024)) * 100);
        var availablePercentage = 100 - usedPercentage;

        console.log("storageUsed", storageUsed);
        console.log("storageUsedUnit", storageUsedUnit);
        console.log("storageLimit", storageLimit);
        console.log("storageLimitUnit", storageLimitUnit);
        console.log("usedPercentage", usedPercentage);
        console.log("availablePercentage", availablePercentage);

        var ctx = document.getElementById('storageUsageChart').getContext('2d');
        var storageUsageChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Used', 'Available'],
                datasets: [{
                    data: [usedPercentage, availablePercentage],
                    backgroundColor: [getRandomColor(), getRandomColor()],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Storage Usage'
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var index = tooltipItem.index;

                            if (index == 0) {
                                if (storageUsedUnit == "GB") {
                                    return 'Used: ' + (storageUsed / 1024).toFixed(2) + ' ' + storageUsedUnit;
                                }
                                else{
                                    return 'Used: ' + (storageUsed).toFixed(2) + ' ' + storageUsedUnit;
                                }
                            } else {
                                    return 'Available: ' + (storageLimit - (storageUsed / 1024)).toFixed(2) + ' ' + storageLimitUnit;
                            }
                        }
                    }
                }
            }
        });
    </script>

{% endblock script %}


