{% extends 'base.html' %}
{% block title %} Backup {% endblock title %}


{% block content %}
    {% include "folder/_modal.html" %}

    <div class="folder_section py-5">


        <!-- Menu Backup Action  -->
        <div class="d-flex justify-content-end action_btn">
            <button class="btn btn-outline-primary mx-2 pl-3 pr-3" title="Add Folder" id="addFolderButton">
                <i class="fas fa-folder-plus fa-lg d-block"></i>
            </button>
            <button class="btn btn-outline-primary mr-2 pl-3 pr-3" title="Upload" id="addFilesButton">
                <i class="fas fa-cloud-upload-alt fa-lg d-block"></i>
            </button>
            <button class="btn btn-outline-primary mr-2 pl-3 pr-3" title="Download">
                <i class="fas fa-cloud-download-alt fa-lg d-block"></i>
            </button>
        </div>
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>
        <!-- Custom Folder List -->
        <div class="mt-3">
            <div class="row" id="folderContainer">
                {% if folder_list|length > 0 %}
                    <p>Custom Folder</p>
                {% endif %}
                {% for custom_folder in custom_folder_list %}
                    <div class="col-6 col-md-4 col-lg-2 mb-3">
                        <div class="card border-0 rounded-0 shadow position-relative">
                            <a href="{{ custom_folder.get_list_url }}?id={{ custom_folder.pk }}" class="text-decoration-none">
                                {#                                <input class="folder-checkbox form-check-input position-absolute" id="check_all" data-id="{{ custom_folder.pk }}" type="checkbox" style="top: 10px; right: 10px;">#}

                                <div class="card-body text-center">

                                    <i class="fas fa-folder fa-3x mb-3"></i>
                                    <p class="card-title mb-0;">{{ custom_folder.name }}</p>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left position-absolute" aria-labelledby="dropdownMenuButton">
                                <a href="#" class="dropdown-item delete-custom-folder"
                                   data-confirm="Are you sure, you want to delete the selected custom folder ?"
                                   data-folder-id="{{ custom_folder.pk }}">
                                    <span class="fas fa-trash-alt mr-2"></span>Delete
                                </a>
                                <a href="#" class="dropdown-item rename-custom-folder"
                                   data-folder-id="{{ custom_folder.pk }}">
                                    <span class="fas fa-edit mr-2"></span>Rename
                                </a>
                            </div>
                            <button class="btn btn-link dropdown-toggle position-absolute" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- File List -->
        <div class="mt-3">
            <div class="row" id="folderContainer">
                {% if file_list|length > 0 %}
                    <p>Your Backup</p>
                {% endif %}
                {% for backup in  backup_list %}
                    <div class="col-6 col-md-4 col-lg-2 mb-3">
                        <div class="card border-0 rounded-0 shadow position-relative">
                            <a href="{% url 'extbackup:view_zip_content' backup.0  %}" class="text-decoration-none">
                                <div class="card-body text-center">
                                    <div class="icon-container">
                                        <i class="fas fa-folder fa-3x mb-3"></i>

                                        <span class="font-weight-normal">
                                        <i id="hash-check-icon-{{ backup.0 }}" class="fa fa-question-circle text-warning" data-toggle="tooltip" data-placement="top" title="Integrity check: pending" style="display: none"></i>
                                        {{backup.1}}
                                        <i id="hash-check-spinner-{{ backup.0 }}" class="fa fa-spinner fa-spin d-none"></i>
                                </span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left position-absolute" aria-labelledby="dropdownMenuButton" id="menu-{{ backup.0 }}">
                                <a class="dropdown-item" href="{% url 'extbackup:download_zip_file' backup.0  %}"><span class="fas fa-download mr-2"></span>Download</a>
                                <a class="dropdown-item text-info check-hash" href="#"  data-file-id="{{ backup.0 }}" data-url="{% url 'extbackup:check_file_hashes' file_id=backup.0 %}">
                                    <span class="material-symbols-outlined mr-2" style="line-height: 1;">plagiarism</span>Check Integrity
                                </a>
                                <a href="#" class="dropdown-item show-file-info" data-file-id="{{ backup.0 }}">
                                    <span class="fas fa-info-circle mr-2"></span>Show Info
                                </a>
                                <a href="#" class="dropdown-item delete-backup-folder"
                                   data-confirm="Are you sure, you want to delete the selected folder ?"
                                   data-file-id="{{ backup.0 }}">
                                    <span class="fas fa-trash-alt mr-2"></span>Delete
                                </a>
                            </div>
                            <div id="detail-backup" class="d-none">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Name:</div>
                                    <div class="col-8"><span id="file-name-{{ backup.1 }}">{{ backup.1 }}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Description:</div>
                                    <div class="col-8">
                                    <span id="file-description-{{ backup.2 }}">
                                        {% if backup.2|default_if_none:"" == "" %}
                                            No description for this Backup.
                                        {% else %}
                                            {{ backup.2 }}
                                        {% endif %}
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Size:</div>
                                    <div class="col-8"><span id="file-size-{{ backup.4 }}">{{ backup.4|sizify }}</span></div>
                                </div>
                            </div>

                            <button class="btn btn-link dropdown-toggle position-absolute" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'extbackup/upload_from.html' %}
        {#        {% include 'folder/folder_create.html' %}#}
    </div>
{% endblock content%}

{% block script %}

    <script type="text/javascript">
        $(function () {
            $("#addFolderButton").click(function () {
                const urlParams = new URLSearchParams(window.location.search);
                var parentFolderId = urlParams.get("id") == undefined ? '' : urlParams.get("id").trim();
                $(this).modalForm({
                    formURL: `{% url 'folder:folder_create' %}?id=${parentFolderId}`
                });
            });
        });
        {#var modal;#}
        {##}
        {#htmx.on("htmx:afterSwap", (e) => {#}
        {#    // Response targeting #dialog => show the modal#}
        {#    if (e.detail.target.id == "dialog") {#}
        {#        var modal = new bootstrap.Modal(document.getElementById("modal"));#}
        {#        modal.show();#}
        {##}
        {#        // Bind a click event to the cancel button#}
        {#        document.querySelector('button[data-bs-dismiss="modal"]').addEventListener('click', function() {#}
        {#            modal.hide();#}
        {#        });#}
        {#    }#}
        {#});#}
            {##}
            {#htmx.on("htmx:beforeSwap", (e) => {#}
            {#    if (e.detail.target.id == "dialog") {#}
            {#        modal.hide();#}
            {#    }#}
            {#});#}
                {##}
                {#htmx.on("hidden.bs.modal", () => {#}
                {#    document.getElementById("dialog").innerHTML = "";#}
                {#});#}

                    {#/**#}
                    {# * This code allow to add folder based on the current folder#}
                    {# * using a modal window.#}
                    {# */#}
                    {#$("#addFolderButton").on("click", function() {#}
                    {#    // Set the modal title and message#}
                    {#    $("#confirmModalLabel").text("Create New Folder");#}
                    {#    $("#confirmButton").text("Add").show();#}
                    {#    $("#dismissButton").text("Discard");#}
                    {##}
                    {#    // Move the form HTML from the hidden form to the modal#}
                    {#    $("#confirmMessage").html($("#add-folder-form").html());#}
                    {##}
                    {#    // Show the modal#}
                    {#    $("#confirmModal").modal("show");#}
                    {##}
                    {#    // Bind form submission to the Confirm button click event#}
                    {#    $("#confirmButton").on("click", function(event) {#}
                    {#        event.preventDefault();#}
                    {#        // Get the folder name#}
                    {#        const folderName = $("#folderName").val();#}
                    {#        // Create form data for the POST request#}
                    {#        const formData = new FormData();#}
                    {#        formData.append("name", folderName);#}
                    {#        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");#}
                    {#        // and parent folder ID from the URL query parameter#}
                    {#        if (parentFolderId) {#}
                    {#            formData.append("parent_folder_id", parentFolderId);#}
                    {#        }#}
                    {#        // Send the POST request#}
                    {#        $.ajax({#}
                    {#            url: '{% url 'folder:folder_create' %}',#}
                    {#            method: "POST",#}
                    {#            data: formData,#}
                    {#            processData: false,#}
                    {#            contentType: false,#}
                    {#            success: function(response) {#}
                    {#                console.log("response")#}
                    {#                console.log(response)#}
                    {#                // Close the modal after success#}
                    {#                $("#confirmModal").modal("hide");#}
                    {#                notyf.success(response.message);#}
                    {#                #}
                    {#            },#}
                    {#            error: function(response) {#}
                    {#                // Display error message using Notyf#}
                    {#                notyf.error(response.message);#}
                    {##}
                    {#            }#}
                    {#        });#}
                    {#    });#}
                    {#});#}
                        {##}
                        {#// Clear form data and close the modal when it's dismissed#}
                        {#$("#confirmModal").on("hidden.bs.modal", function() {#}
                        {#    $("#add-folder-form")[0].reset();#}
                        {#});#}


    </script>
    {% include 'extbackup/upload_form_js.html' %}
{% endblock script %}