{% extends 'base.html' %}
{% block title %} Backup {% endblock title %}


{% block content %}
    <div class="folder_section py-5">

        <!-- Menu Backup Action  -->
        <div class="d-flex justify-content-end action_btn">
            <button class="btn btn-outline-primary mx-2 pl-3 pr-3" title="Add Folder" id="addFolderButton">
                <i class="fas fa-folder-plus fa-lg d-block"></i>
            </button>
            <button class="btn btn-outline-primary mr-2 pl-3 pr-3" title="Upload" id="addFilesButton">
                <i class="fas fa-cloud-upload-alt fa-lg d-block"></i>
            </button>
            <button class="btn btn-outline-primary mr-2 pl-3 pr-3" title="Download">
                <i class="fas fa-cloud-download-alt fa-lg d-block"></i>
            </button>
        </div>

        <!-- Custom Folder List -->
        <div class="mt-3">
            <div class="row">
                {% if folder_list|length > 0 %}
                    <p>Custom Folder</p>
                {% endif %}
                {% for custom_folder in custom_folder_list %}
                    <div class="col-6 col-md-4 col-lg-2 mb-3">
                        <div class="card border-0 rounded-0 shadow position-relative">
                            <a href="{{ custom_folder.get_list_url }}?id={{ custom_folder.pk }}" class="text-decoration-none">
                                {#                                <input class="folder-checkbox form-check-input position-absolute" id="check_all" data-id="{{ custom_folder.pk }}" type="checkbox" style="top: 10px; right: 10px;">#}

                                <div class="card-body text-center">

                                    <i class="fas fa-folder fa-3x mb-3"></i>
                                    <p class="card-title mb-0;">{{ custom_folder.name }}</p>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left position-absolute" aria-labelledby="dropdownMenuButton">
                                <a href="#" class="dropdown-item delete-custom-folder"
                                   data-confirm="Are you sure, you want to delete the selected custom folder ?"
                                   data-folder-id="{{ custom_folder.pk }}">
                                    <span class="fas fa-trash-alt mr-2"></span>Delete
                                </a>
                                <a href="#" class="dropdown-item rename-custom-folder"
                                   data-folder-id="{{ custom_folder.pk }}">
                                    <span class="fas fa-edit mr-2"></span>Rename
                                </a>
                            </div>
                            <button class="btn btn-link dropdown-toggle position-absolute" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- File List -->
        <div class="mt-3">
            <div class="row">
                {% if file_list|length > 0 %}
                    <p>Your Backup</p>
                {% endif %}
                {% for backup in  backup_list %}
                    <div class="col-6 col-md-4 col-lg-2 mb-3">
                        <div class="card border-0 rounded-0 shadow position-relative">
                            <a href="{% url 'extbackup:view_zip_content' backup.0  %}" class="text-decoration-none">
                                <div class="card-body text-center">
                                    <div class="icon-container">
                                        <i class="fas fa-folder fa-3x mb-3"></i>

                                        <span class="font-weight-normal">
                                        <i id="hash-check-icon-{{ backup.0 }}" class="fa fa-question-circle text-warning" data-toggle="tooltip" data-placement="top" title="Integrity check: pending" style="display: none"></i>
                                        {{backup.1}}
                                        <i id="hash-check-spinner-{{ backup.0 }}" class="fa fa-spinner fa-spin d-none"></i>
                                </span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left position-absolute" aria-labelledby="dropdownMenuButton" id="menu-{{ backup.0 }}">
                                <a class="dropdown-item" href="{% url 'extbackup:download_zip_file' backup.0  %}"><span class="fas fa-download mr-2"></span>Download</a>
                                <a class="dropdown-item text-info check-hash" href="#"  data-file-id="{{ backup.0 }}" data-url="{% url 'extbackup:check_file_hashes' file_id=backup.0 %}">
                                    <span class="material-symbols-outlined mr-2" style="line-height: 1;">plagiarism</span>Check Integrity
                                </a>
                                <a href="#" class="dropdown-item show-file-info" data-file-id="{{ backup.0 }}">
                                    <span class="fas fa-info-circle mr-2"></span>Show Info
                                </a>
                                <a href="#" class="dropdown-item delete-backup-folder"
                                   data-confirm="Are you sure, you want to delete the selected folder ?"
                                   data-file-id="{{ backup.0 }}">
                                    <span class="fas fa-trash-alt mr-2"></span>Delete
                                </a>
                            </div>
                            <div id="detail-backup" class="d-none">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Name:</div>
                                    <div class="col-8"><span id="file-name-{{ backup.1 }}">{{ backup.1 }}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Description:</div>
                                    <div class="col-8">
                                    <span id="file-description-{{ backup.2 }}">
                                        {% if backup.2|default_if_none:"" == "" %}
                                            No description for this Backup.
                                        {% else %}
                                            {{ backup.2 }}
                                        {% endif %}
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 font-weight-bold">Size:</div>
                                    <div class="col-8"><span id="file-size-{{ backup.4 }}">{{ backup.4|sizify }}</span></div>
                                </div>
                            </div>

                            <button class="btn btn-link dropdown-toggle position-absolute" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'extbackup/upload_from.html' %}
    </div>
{% endblock content%}
{% block script %}
    <script>
        $('#confirmModal').on('hidden.bs.modal', function (e) {
            location.reload();
        });
        const urlParams = new URLSearchParams(window.location.search);
        const parentFolderId = urlParams.get("id") == undefined ? '' : urlParams.get("id").trim();

        $('.rename-custom-folder').on('click', function(e) {
            e.preventDefault();
            var folderId = $(this).data('folder-id');

            // AJAX request to fetch the form
            $.ajax({
                url: "{% url 'folder:get_folder_edit_form' %}", // make sure this is the correct URL
                data: {'folder_id': folderId},
                method: 'GET',
                success: function(response) {
                    $("#confirmModalLabel").text("Rename Folder");
                    $("#confirmMessage").html(response.form_html);
                    $("#confirmForm").attr('action', "{% url 'folder:folder_rename' %}");
                    $("#confirmButton").text("Save");
                    $("#dismissButton").text("Discard");
                    $('#confirmModal').modal('show');
                }
            });
        });

        $('.delete-custom-folder').on('click', function(e) {
            e.preventDefault(); // Prevent the default behavior of the link click
            var CustomFolderId = $(this).data('folder-id'); // Get the file id from data attribute
            console.log("custom_folder_id")
            console.log(CustomFolderId)
            // Create a hidden input for file_id
            var hiddenInput = $('<input/>', {
                type: 'hidden',
                id: 'confirmFileId',
                name: 'custom_folder_id',
                value: CustomFolderId
            });
            $("#confirmButton").show();
            $("#confirmModalLabel").text("Deletion confirmation");
            // Append the hidden input to the form
            $('#confirmForm').append(hiddenInput);
            // Set the message and file id in the modal
            $('#confirmMessage').html("<p>Are you sure, you want to delete the selected folder ?" +
                "<br><span style='color:red'>Proceed with caution, as this action cannot be undone.</span></p>");
            // Show the modal
            $('#confirmModal').modal('show');
            $('#confirmButton').on('click', function(e) {
                e.preventDefault();
                $('#confirmForm').attr('action', "{% url 'extbackup:delete_backup_view' %}");
                $('#confirmForm').submit();
            });
        });

        /**
         * This code allow to delete backup folders using a modal window
         * delete confirmation.
         */
        $('.delete-backup-folder').on('click', function(e) {
            e.preventDefault(); // Prevent the default behavior of the link click
            var fileId = $(this).data('file-id'); // Get the file id from data attribute
            // Create a hidden input for file_id
            var hiddenInput = $('<input/>', {
                type: 'hidden',
                id: 'confirmFileId',
                name: 'file_id',
                value: fileId
            });
            $("#confirmButton").show();
            $("#confirmModalLabel").text("Deletion confirmation");
            // Append the hidden input to the form
            $('#confirmForm').append(hiddenInput);
            // Set the message and file id in the modal
            $('#confirmMessage').html("<p>Are you sure, you want to delete the selected folder ?" +
                "<br><span style='color:red'>Proceed with caution, as this action cannot be undone.</span></p>");
            // Show the modal
            $('#confirmModal').modal('show');
            $('#confirmButton').on('click', function(e) {
                e.preventDefault();
                $('#confirmForm').attr('action', "{% url 'extbackup:delete_backup_view' %}");
                $('#confirmForm').submit();
            });
        });

        /**
         * This code allow to files based on the current folder
         * using a modal window.
         */
        $("#addFilesButton").on("click", function() {

            // Set the modal title and message
            $("#confirmModalLabel").text("Backup Your Files");
            $("#confirmButton").hide();
            $("#dismissButton").text("Discard");
            $("#confirmMessage").html($("#hiddenForm").html());
            // Kick-off
            // Re-initialize the event listeners for the form elements
            try {
                var d = Object.create(dragAndUpload);
                d.setUp();
            } catch (exception) {
                console.log('Error creating menus. ' +
                    'In all likelihood your browser is out ' +
                    'of date.\r\n', exception, '\r\n', navigator.userAgent);
            }
            // Show the modal
            $("#confirmModal").modal("show");
        });

        /**
         * This code allow to add folder based on the current folder
         * using a modal window.
         */
        $("#addFolderButton").on("click", function() {
            // Set the modal title and message
            $("#confirmModalLabel").text("Create New Folder");
            $("#confirmButton").text("Save").show();
            $("#dismissButton").text("Discard");
            $("#confirmMessage").html(
                `{{form_folder.name }}{{form_folder.parent_folder_id }}`);

            // Show the modal
            $("#confirmModal").modal("show");

            $("#confirmForm").on("submit", function(event) {
                event.preventDefault();

                // Get the folder name
                const folderName = $("#folderName").val();
                // Create form data for the POST request
                const formData = new FormData();
                formData.append("name", folderName);
                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                //  and parent folder ID from the URL query parameter
                if (parentFolderId) {
                    formData.append("parent_folder_id", parentFolderId);
                }

                // Set the POST URL
                const postUrl = "{% url 'folder:folder_create' %}";

                // Send the POST request
                $.ajax({
                    url: postUrl,
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function() {
                        // Reload the page on successful folder creation
                        window.location.reload();
                    },
                    error: function() {
                        // Handle errors
                        console.error("Failed to create a new folder.");
                    }
                });

                // Close the modal
                $("#confirmModal").modal("hide");
            });
        });

        /**
         * This code allow to show a modal window containing information
         * about folder such as the name, description and size.
         */
        $('.show-file-info').on('click', function() {
            var detailBackup = $(this).closest('.card').find('#detail-backup');
            $('#confirmModalLabel').text('Detail Information');

            $('#confirmButton').hide();
            $('#dismissButton').text('Close');
            // Set the new modal content
            $('#confirmMessage').html(detailBackup.html());
            // Show the modal
            $('#confirmModal').modal('show');
        });

        /**
         * This code updates an icon's CSS class based on an AJAX response
         * and displays a tooltip with the response message.
         */
        $('.integrity-tooltip').tooltip();
        $('.check-hash').click(function(event) {
            event.preventDefault();
            const url = $(this).data('url');
            const file_id = $(this).data('file-id');
            console.log(file_id)
            const icon = $('#hash-check-icon-' + file_id);
            const spinner = $('#hash-check-spinner-' + file_id);

            // Show the icon
            icon.show();

            // Show the spinner
            spinner.removeClass('d-none');
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function(response, textStatus, xhr) {
                    const status = response.message;
                    const statusCode = xhr.status;
                    const icon = $('#hash-check-icon-' + file_id);
                    if (statusCode === 200) {
                        icon.removeClass('fa-question-circle text-warning').addClass(
                            'fa-check-circle text-success');
                    } else {
                        icon.removeClass('fa-question-circle text-warning').addClass(
                            'fa-exclamation-circle text-danger');
                    }
                    icon.tooltip('dispose').tooltip();
                    icon.attr('data-original-title', status).tooltip('show');
                    // Automatically hide the tooltip after 3 seconds (3000 ms)
                    setTimeout(function() {
                        icon.tooltip('hide');
                    }, 3000);
                },
                error: function(xhr, textStatus, errorThrown) {
                    const message = xhr.responseJSON.message;
                    const icon = $('#hash-check-icon-' + file_id);
                    icon.removeClass('fa-check-circle text-success').addClass(
                        'fa-exclamation-circle text-danger');

                    if (xhr.status === 429) {
                        // Display the rate limit message to the user
                        // You can use an alert, a tooltip, or any other preferred method
                        icon.tooltip('dispose').tooltip();
                        icon.attr('data-original-title', message).tooltip('show');
                    } else {
                        icon.tooltip('dispose').tooltip();
                        console.error('Error:', errorThrown);
                        icon.attr('data-original-title', message).tooltip('show');
                    }
                },
                complete: function() {
                    // Hide the spinner
                    spinner.addClass('d-none');
                }
            });
        });
    </script>
    {% include 'extbackup/upload_form_js.html' %}
{% endblock script %}