<script type="text/javascript">
$(document).ready(function() {
    // Create a mapping of paths to CSS selectors
    var pathMapHeader = {
        'subscriptions': 'a[href="{% url 'subscriptions:SubListView' %}"]',
        'folder': 'a[href="{% url 'folder:folder_list' %}"]',
        'account': 'a[href="{% url 'account:account_profile' %}"], a[href="{% url 'account:login' %}"]',
    };

    // Get the first part of the current URL path
    var currentPath = window.location.pathname.split('/')[2];
    console.log("currentPath");
    console.log(currentPath);
    // If the current path is in the mapping
    if (currentPath in pathMapHeader) {
        // Get the CSS selector associated with the current path
        var currentSelector = pathMapHeader[currentPath];

        // Remove 'active' class from all nav items
        $("#nav-header .nav-menu ul li").removeClass('active');

        // Check each selector associated with the current path
        var selectors = currentSelector.split(',');
        selectors.forEach(function(selector){
            var $el = $(selector.trim());
            // Add the 'active' class to the element that matches the CSS selector
            if($el.length) {
                $el.parent('li').addClass('active');
            }
        });
    }
});
</script>
