{% load static %}
<!-- ======= FOOTER ======= -->
<footer id="footer" class="py-5">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-info">
                    <img src="{% static 'dastore/logo_dastore.png' %}" alt="logo principale de DaStore">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a>
                        <a href="#" class="facebook"><i
                                class="fa fa-facebook-square"></i></a>
                        <a href="#" class="youtube"><i
                                class="fa fa-youtube-square"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="icofont-simple-right"></i> <a href="/">Accueil</a></li>
                        <li><i class="icofont-simple-right"></i> <a href="/#about">A propos</a></li>
                        <li><i class="icofont-simple-right"></i> <a href="#service">Services</a></li>
                        <li><i class="icofont-simple-right"></i> <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos Services</h4>
                    <ul>
                        <li><i class="icofont-simple-right"></i> <a href="#">Lorem ipsum</a></li>
                        <li><i class="icofont-simple-right"></i> <a href="#">Lorem ipsum</a>
                        </li>
                        <li><i class="icofont-simple-right"></i> <a href="#">Lorem ipsum</a></li>
                        <li><i class="icofont-simple-right"></i> <a href="/#service">Lorem ipsum</a></li>
                        <li><i class="icofont-simple-right"></i> <a href="/#service">Lorem ipsum</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contactez-nous</h4>
                    <p><span class="color-hny">Address :</span> 25 rue de la Répuplique</p>
                    <p><span class="color-hny">Email :</span> <a href="#">contact@dastore.com</a>
                    </p>
                    <p><span class="color-hny">Phone :</span> <a href="tel:+142 5897555">04 77 25 88 95</a></p>
                </div>
            </div>
                <p>&copy; Copyright 2022 <strong><span>DaStore</span></strong> Réaliser par Idris Bouzidi.
                </p>


                <div class="legal pull-right">
                    <a href="http://www.pcroot.local:8080/politique-de-confidentialite.html">Politique de confidentialité</a><span> /</span> <a href="http://www.pcroot.local:8080/mentions-Legales.html">Mentions Légales</a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- END FOOTER -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>