{% load i18n %}
{% load helper_tags %}
{% load static %}

<!-- ======= HEADER ======= -->
{% if request.user.is_authenticated %}
    <header id="nav-header" class="nav-header-two">
{% else %}
    <header id="nav-header">
{% endif %}

<div class="container d-flex">
    <div class="logo mr-auto">
        <a href="{% url 'home' %}"><img src="{% static 'dastore/logo_dastore.png' %}" alt="logo dastore" class="img-fluid"></a>
    </div>

    <!-- NAVIGATION -->
    {% if request.user.is_authenticated %}
        <nav class="nav-menu nav-menu-two d-none d-lg-block">
    {% else %}
        <nav class="nav-menu d-none d-lg-block">
    {% endif %}

    <ul>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <li class="drop-down">
            <a href="#">
                <!-- Display flag based on current language -->
                {% if LANGUAGE_CODE == 'en' %}
                    <img src="{% static 'flags/gb_flag.svg' %}" alt="English">
                {% elif LANGUAGE_CODE == 'fr' %}
                    <img src="{% static 'flags/fr_flag.svg' %}" alt="French">
                {% else %}
                    <!-- Default to some symbol if the language flag is not set -->
                    <i class="material-symbols-outlined">language</i>
                {% endif %}

            </a>
            <ul style="width: 150px;">
                {% for lang in languages %}
                    <li>
                        <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% change_lang lang.code %}">
                            {{ lang.name_local|capfirst }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'subscriptions:SubListView' %}"><i class="material-symbols-outlined">rocket_launch</i> {% translate "GET STARTED" %}</a></li>
            <li><a href="{% url 'folder:folder_list' %}"><i class="material-symbols-outlined">cloud_upload</i> {% translate "Backup" %}</a></li>
            <li><a href="{% url 'account:account_profile' %}"><i class="material-symbols-outlined">settings</i> {% translate "Settings" %}</a></li>
            <li class="drop-down">
            <a href="#"><i class="material-symbols-outlined">account_circle</i> {% translate "My account" %}</a>
            <ul>
            <li>
                <div class="user-info">
                    {#                                <img src="{% if profile_image %}{{ profile_image.url }}{% else %}{% static 'dastore/default_user_icon.png' %}{% endif %}" class="account-image rounded-circle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="profile user image" width="40" height="40">#}

                    {% if user.avatar_url and 'default_user_icon.png' not in user.avatar_url %}
                        <img src="{{ user.avatar_url }}" class="user-avatar md-avatar rounded-circle" alt="Neil Portrait">
                    {% else %}
                        <img src="{% static 'dastore/default_user_icon.png' %}" class="border border-dark user-avatar md-avatar rounded-circle">
                    {% endif %}

                    <p>{{ request.user.username }}</p>
                </div>
            </li>
            <hr>
            <li>
                <i class="material-symbols-outlined">person</i><a href="{% url 'account:account_profile' %}">{% translate "Profil" %}</a>
            </li>
            {% if request.user.is_authenticated and request.user.is_admin%}
                <li>
                    <i class="material-symbols-outlined">browse_activity</i><a href="{% url 'log:log_dashboard' %}">{% translate "Logs" %}</a>
                </li>
            {% endif %}
            <li>
                <i class="material-symbols-outlined">logout</i><a href="{% url 'account:logout' %}">{% translate "Logout" %}</a>
            </li>

        {% else %}
            <li><a href="{% url 'subscriptions:SubListView' %}"><i class="material-symbols-outlined">rocket_launch</i>{% translate "GET STARTED" %}</a></li>

            <li>
                <a href="{% url 'account:login' %}"><i class="material-symbols-outlined">login</i>{% translate "Login" %}</a>
            </li>
        {% endif %}
        </ul>
        <!-- NAVIGATION -->
    </nav>

</div>
</header>
<!-- ======= END HEADER ======= -->