{% load static %}
<!-- ======= HEADER ======= -->
<header id="nav-header">
    <div class="container d-flex">
        <div class="logo mr-auto">
            <a href="{% url 'home' %}"><img src="{% static 'dastore/logo_dastore.png' %}" alt="logo dastore" class="img-fluid"></a>
        </div>
        <!-- NAVIGATION -->
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="#">Contact</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'subscription_plan:subscription_plan_index' %}">Subscription Plan</a></li>
                    <li><a href="{% url 'extbackup:extension_list' %}">Extentions</a></li>
                    <li><a href="{% url 'extbackup:upload_files' %}">Backup</a></li>
                    <li><a href="{% url 'extbackup:backup_dashboard' %}">Backup Dashboard</a></li>
                    <li class="drop-down">
                        <a href="#">{{request.user.username }}
                        </a>
                        <ul>
								<img class="account-image rounded-circle m-auto d-block dropdown-toggle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="profile user image" width="40" height="40">
                            <p class="text-center">{{ request.user.username }}({{request.user.firstname }} {{ request.user.lastname }})</p>
                            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                            <li>

                                <a href="{% url 'accounts:account_profile' user_id=request.user.id %}">Profil</a>

                            </li>
                        </ul>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- NAVIGATION -->
    </div>
</header>
<!-- ======= END HEADER ======= -->