{% for message in messages %}
    <script type="text/javascript">
        const notyf = new Notyf({
            duration: 3000,
            position: {
                x: 'right',
                y: 'top',
            },
            types: [
                {
                    type: 'alert-success',
                    background: '#4caf50',
                    icon: {
                        className: 'fas fa-check-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                },
                {
                    type: 'alert-info',
                    background: '#2196f3',
                    icon: {
                        className: 'fas fa-info-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                },
                {
                    type: 'alert-warning',
                    background: '#ffc107',
                    icon: {
                        className: 'fas fa-exclamation-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                },
                {
                    type: 'alert-danger',
                    background: '#f44336',
                    icon: {
                        className: 'fas fa-times-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                }
            ]
        });
        notyf.open({
            type: "{{ message.tags }}",
            message: '{{ message }}',
        });
    </script>
{% endfor %}
