{% for message in messages %}
    <script>
        const notyf = new Notyf({
            duration: 3000,
            position: {
                x: 'right',
                y: 'top',
            },
            types: [
                {
                    type: 'alert-success',
                    background: '#deacf5',
                    icon: {
                        className: 'fas fa-check-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                },
                {
                    type: 'alert-info',
                    background: '#722efa',
                    icon: {
                        className: 'fas fa-info-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                },
                {
                    type: 'alert-warning',
                    background: '#9754cb',
                    icon: {
                        className: 'fas fa-exclamation-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                },
                {
                    type: 'alert-danger',
                    background: '#5300a4',
                    icon: {
                        className: 'fas fa-times-circle',
                        tagName: 'span',
                        color: '#fff'
                    },
                    dismissible: true
                }
            ]
        });
        notyf.open({
            type: "{{ message.tags }}",
            message: '{{ message }}',
        });
    </script>
{% endfor %}
