{#{% load static %}#}
{#<style>#}
{##}
{#}#}
{#</style>#}
{##}
{#<header id="nav-header">#}
{#    <div class="container d-flex">#}
{#        <div class="logo mr-auto">#}
{#            <a href="{% url 'home' %}">#}
{#                <img src="{% static 'dastore/logo_dastore.png' %}" alt="logo dastore" class="img-fluid">#}
{#            </a>#}
{#        </div>#}
{##}
{#        <!-- NAVIGATION -->#}
{#        <nav class="nav-menu d-none d-lg-block">#}
{#            <ul>#}
{#                <li><a href="{% url 'subscriptions:SubListView' %}"><i class="material-symbols-outlined">rocket_launch</i> GET STARTED</a></li>#}
{#                <li><a href="{% url 'folder:folder_list' %}"><i class="material-symbols-outlined">cloud_upload</i> Backup</a></li>#}
{#                <li><a href="{% url 'account:account_profile' %}"><i class="material-symbols-outlined">settings</i> Settings</a></li>#}
{#                <li class="drop-down">#}
{#                    <a href="#"><i class="material-symbols-outlined">account_circle</i> My account</a>#}
{#                    <ul>#}
{#                        <li>#}
{#                            <div class="user-info">#}
                                {#                                <img src="{% if profile_image %}{{ profile_image.url }}{% else %}{% static 'dastore/default_user_icon.png' %}{% endif %}" class="account-image rounded-circle" id="id_profile_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="profile user image" width="40" height="40">#}
{##}
{#                                {% if user.avatar_url and 'default_user_icon.png' not in user.avatar_url %}#}
{#                                    <img src="{{ user.avatar_url }}" class="user-avatar md-avatar rounded-circle" alt="Neil Portrait">#}
{#                                {% else %}#}
{#                                    <img src="{% static 'dastore/default_user_icon.png' %}" class="border border-dark user-avatar md-avatar rounded-circle">#}
{#                                {% endif %}#}
{##}
{#                                <p>{{ request.user.username }}</p>#}
{#                            </div>#}
{#                        </li>#}
{#                        <hr>#}
{#                        <li>#}
{#                            <i class="material-symbols-outlined">person</i><a href="{% url 'account:account_profile' %}">Profil</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <i class="material-symbols-outlined">logout</i><a href="{% url 'account:logout' %}">Logout</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
{#        <!-- NAVIGATION -->#}
{#    </div>#}
{#</header>#}
{##}
{##}
