{% extends 'base.html' %}
{% block content %}
    <section class="price_plan_area section_padding_130_80" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h6>Pricing Plans</h6>
                        <h3>Let's find a way together</h3>
                        <p>Choose you plan, take what you need for you.</p>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for plan in object_list %}
                    <!-- Single Price Plan Area-->
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <!-- Side Shape-->
                            <div class="title">
                                {% if plan.popular %}
                                    <!-- Side Shape-->
                                    <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
                                    <span>Popular</span>
                                {% endif %}
                                <h3>{{ plan.name }}</h3>
                                <p>{{ plan.sub_title }}</p>
                                <div class="line"></div>
                            </div>
                            <div class="price">
                                <h4>${{ plan.price }}</h4>
                            </div>
                            <div class="description">
                                <p><i class="material-symbols-outlined">check_circle</i>{{ plan.storage_limit }} GB of storage</p>
                                <p><i class="material-symbols-outlined">check_circle</i>{{ plan.description }}</p>
                                <p><i style="color:red" class="material-symbols-outlined">close</i>No Hidden Fees</p>
                                <p><i style="color:red"class="material-symbols-outlined">close</i>100+ Video Tuts</p>
                                <p><i style="color:red"class="material-symbols-outlined">close</i>No Tools</p>
                            </div>
{#                            <div class="button"><a href="{% url 'accounts:register_with_plan' plan.name %}"#}
{#                                                   class="btn btn-lg btn-block btn-outline-primary">Get#}
{#                                started</a>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
    {% include "snippets/add_active_class.html" %}
{% endblock script %}