{% extends "../_base.html" %}
{% load static %}
{% load i18n %}
{% load breadcrumb %}

{% block breadcrumbs %}
<div class="breadcrumb-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
        <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb mb-4">
                {% url 'account:account_profile' as account_url %}
                {% url 'two_factor:setup' as two_factor_setup %}
                {% url 'home' as home_url %}
                {% breadcrumb "Home" home_url %}
                {% breadcrumb "Profile" account_url %}
                {% breadcrumb "Two Factor Setup" %}
            </ol>
        </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_media %}
    {{ form.media }}
{% endblock %}

{% block sub_content %}
    <div class="py-5">
        <div class="row">
            <div class="col-12 col-xl-12" data-aos="fade-left" data-aos-delay="100">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <div class="card-header">
                                    <h2>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h2>
                                </div>
                                <div class="card-body">

                                    {% if wizard.steps.current == 'welcome' %}
                                        <h3>{% trans "Welcome" %}</h3>
                                        <p>{% blocktrans trimmed %}
                                            Congratulations on your decision to enhance your account security!
                                            <br><br>
                                            By enabling two-factor authentication, you're adding an extra layer of protection
                                            to safeguard your valuable data.
                                             <br><br>
                                            Two-factor authentication, often referred to as 2FA,
                                            requires not only a password and username but also something
                                            that only the user has on them, i.e., a piece of information only
                                            they should know or have immediately on hand - like a physical token.
                                             <br><br>
                                            Follow the steps in this wizard to enable two-factor
                                            authentication.
                                        {% endblocktrans %}</p>

                                    {% elif wizard.steps.current == 'method' %}
                                        <p>{% blocktrans trimmed %}Please select which authentication method you would
                                            like to use.{% endblocktrans %}</p>
                                    {% elif wizard.steps.current == 'generator' %}
                                        <p>{% blocktrans trimmed %}To start using a token generator, please use your
                                            smartphone to scan the QR code below. For example, use Google
                                            Authenticator.{% endblocktrans %}</p>
                                        <p><img src="{{ QR_URL }}" alt="QR Code" class="bg-white"/></p>
                                        <p>{% blocktrans trimmed %}Alternatively you can use the following secret to
                                            setup TOTP in your authenticator or password manager manually.{% endblocktrans %}</p>
                                        <p>{% translate "TOTP Secret:" %} <a href="{{ otpauth_url }}">{{ secret_key }}</a></p>
                                        <p>{% blocktrans %}Then, enter the token generated by the app.{% endblocktrans %}</p>

                                    {% elif wizard.steps.current == 'sms' %}
                                        <p>{% blocktrans trimmed %}Please enter the phone number you wish to receive the
                                            text messages on. This number will be validated in the next step.
                                        {% endblocktrans %}</p>
                                    {% elif wizard.steps.current == 'call' %}
                                        <p>{% blocktrans trimmed %}Please enter the phone number you wish to be called on.
                                            This number will be validated in the next step. {% endblocktrans %}</p>
                                    {% elif wizard.steps.current == 'validation' %}
                                        {% if challenge_succeeded %}
                                            {% if device.method == 'call' %}
                                                <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
                                                    digits you hear.{% endblocktrans %}</p>
                                            {% elif device.method == 'sms' %}
                                                <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
                                                    sent.{% endblocktrans %}</p>
                                            {% endif %}
                                        {% else %}
                                            <p class="alert alert-warning" role="alert">{% blocktrans trimmed %}We've
                                                encountered an issue with the selected authentication method. Please
                                                go back and verify that you entered your information correctly, try
                                                again, or use a different authentication method instead. If the issue
                                                persists, contact the site administrator.{% endblocktrans %}</p>
                                        {% endif %}
                                    {% elif wizard.steps.current == 'yubikey' %}
                                        <p>{% blocktrans trimmed %}To identify and verify your YubiKey, please insert a
                                            token in the field below. Your YubiKey will be linked to your
                                            account.{% endblocktrans %}</p>
                                    {% endif %}

                                    <form action="" method="post">{% csrf_token %}
                                        {% include "two_factor/_wizard_forms.html" %}

                                        {# hidden submit button to enable [enter] key #}
                                        <input type="submit" value="" hidden />

                                        {% include "two_factor/_wizard_actions.html" %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6 mb-3">
                        <img src="{% static 'illustrations/2fa.jpg' %}" alt="">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
