{% extends "../sub_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'account:account_profile' as account_url %}
                        {% url 'account:team_list' as team_list_url %}
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb "Profile" account_url%}
                        {% breadcrumb "Team Detail" team_list_url%}
                        {% breadcrumb "Edit Team" %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_content %}
    <style>
        #inp1{
            border: 1px solid #636161;
            font-size: 0.75rem;
        }

        #inp1:focus{
            outline: none;
            box-shadow: none;
        }
        .invite-email input:focus{
            border-color:var(--clr-purple-1)!important;
            border-style: solid!important;
            border-width: 1px;
        }
    </style>

    <div class="card-body tab-content">
        <h6>Edit Team : {{ team.team_name }}</h6>
        <hr>
        <div id="teamDetail" data-aos="fade-left" data-aos-delay="200">
            <div class="card-body tab-content">
                <div class="col-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <label for="{{ form.team_name.id_for_label }}">Team Name</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-friends"></span></span>
                                {% render_field form.team_name class="form-control" placeholder="Team Name"%}
                            </div>
                            {{ form.team_name.errors }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.team_id.id_for_label }}">Team ID</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-hashtag"></span></span>
                                {% render_field form.team_id class="form-control" placeholder="Team ID"%}
                            </div>
                            {{ form.team_id.errors }}
                        </div>

                        <button type="submit" class="btn custom-button">
                            <i class="fas fa-check"></i> Save Team
                        </button>
                    </form>
                </div>
                <hr>
                <h6>Team Members</h6>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        {% for member in team_members %}
                            <tr>
                                <td>{{ member.user.username }}</td>
                                <td>{{ member.user.email }}</td>
                                <td>{{ member.role }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <hr>
                <h6 class="mb-3">Invite Team Members</h6>
                <form method="post" action="{% url 'account:send_invitation' %}">
                    {% csrf_token %}
                    <input type="hidden" name="team_id" value="{{ team.team_id }}">

                    <div class="col-8 invite-email">
                        <div class="input-group mb-3 w-75">
                            <input type="email" name="email" class="form-control" placeholder="example@company.com" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                            <div class="input-group-append">
                                <button class="custom-button btn" type="submit" id="button-addon2"><i class="fa fa-paper-plane"></i>Invite</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% if pending_invitations %}
                    <hr>
                    <h6>Pending invitation</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            {% for invitation in pending_invitations %}
                                <tr>
                                    <td>{{ invitation.email }}</td>
                                    <td>{{ invitation.get_status_display }}</td>
                                    <td> <a href="{% url 'account:cancel_invitation' invitation.code %}">Cancel Invitation</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}