{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb "Gest Sign in" %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">Sign up</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                        {% render_field form.email|attr:"readonly:True" class="form-control" placeholder="example@company.com" %}
                    </div>
                    {{ form.email.errors }}
                </div>
                <div class="form-group mb-4">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                        {% render_field form.username class="form-control" placeholder="b.david42" %}
                    </div>
                    {{ form.username.errors }}
                </div>
                <div class="form-group mb-4">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-lock"></span></span>
                        {% render_field form.password1 class="form-control" placeholder="Password"%}
                    </div>
                    {{ form.password1.errors }}
                </div>
                <div class="form-group mb-4">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-lock"></span></span>
                        {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
                    </div>
                    {{ form.password2.errors }}
                </div>
                <button type="submit" class="custom-button btn btn-block">Sign in</button>
            </form>
        </div>
    </div>
{% endblock %}