{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="container-fluid-custom2">
        <div class="breadcrumb-container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                        <ol class="breadcrumb mb-4">
                            {% url 'home' as home_url %}
                            {% breadcrumb "Home" home_url %}
                            {% breadcrumb "Join Team" %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">{% trans "Invitation to Join Team" %}</h1>
                {% blocktrans %}
                    <p>You have been invited by <strong><u>{{ invitation.sender.email }}</u></strong> to join the team: <strong><u>{{ invitation.team.team_name }}</u></strong></p>
                {% endblocktrans %}
                <form method="post" action="{% url 'team:invitation_landing' invitation.code %}">
                    {% csrf_token %}
                    <button type="submit" class="btn custom-button">{% trans "Accept Invitation" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}