{% extends "../sub_base.html" %}
{% load static %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'account:account_profile' as account_url %}
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb "Profile" account_url%}
                        {% breadcrumb "Teams Detail" %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_content %}
    <div class="card-body tab-content">
    <h6>Teams Detail</h6>
    <hr>

    <a class="custom-button btn" href="{% url 'team:create_team' %}"><i class="fa fa-plus"></i>Create Team</a>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th:first-child {
            width: 80%; /* Adjust the width as needed */
        }
        th:last-child {
            text-align: left;
        }
    </style>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if team %}
            <tr>
                <td scope="row">{{ team.team_name }}</td>
                <td>
                    <a href="{% url 'team:team_detail' team.team_id %}" class="custom-button btn"><i class="fa fa-edit"></i>Edit</a> |
                    <a href="#" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No team found.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>




{% endblock %}
{#{% for team in team %}#}
{#    <h2>{{ team.team.team_name }}</h2>#}
{#    <ul>#}
{#        {% for member in team.team_members %}#}
{#            <li>{{ member.user.username }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endfor %}#}






