{% extends "../sub_base.html" %}
{% load static %}
{% load i18n %}
{% load two_factor_tags %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'account:account_profile' as account_url %}
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb "Profile" account_url%}
                        {% breadcrumb "Security Account" %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_content %}
    <div class="card-body tab-content">
    <h6>STORAGE STATISTICS</h6>
    <hr>
    <div class="row custom-content-row justify-content-evenly" data-aos="fade-left" data-aos-delay="100">
        <div class="col-md-6 col-lg-2">
            <div class="numbersquare">
                <div class="intermsquaretext">File number</div>
                <div class="intermsquarenb numbertextxl">{{ file_count }}</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="numbersquare">
                <div class="intermsquaretext">Folder number</div>
                <div class="intermsquarenb numbertextxl">{{ folder_count }}</div>
            </div>
        </div>
        <div class="col-md-6 col-lg-2">
            <div class="numbersquare">
                <div class="intermsquaretext">File size Total</div>
                <div class="intermsquarenb numbertextxxxl">{{ storage_used_bytes.0 }} {{ storage_used_bytes.1 }}</div>
            </div>
        </div>
    </div>
    <div class="row custom-content-row" data-aos="fade-left" data-aos-delay="100">
        <div class="col-md-6 col-lg-6">
            <canvas id="storageUsageChart"></canvas>
        </div>
        <div class="col-md-6 col-lg-6">
<canvas id="uploadSizeChart"></canvas>

        </div>
    </div>
{% endblock %}

{% block script %}
        {% include 'partials/chartlines/js_chartline.html' %}



    <script type="text/javascript">

let chart_datasets = JSON.parse("{{ chart_datasets_json|escapejs }}");
let labels = {{ label|safe }};
createLineChart("uploadSizeChart", labels, chart_datasets);

        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        let ctx_strage_usage = document.getElementById('storageUsageChart').getContext('2d');
        let storageUsageChart = new Chart(ctx_strage_usage, {
            type: 'bar',
            data: {
                labels: ['Used', 'Available'],
                datasets: [{
                    data: [{{ used_percentage }}, {{ available_percentage }}],
                    backgroundColor: [getRandomColor(), getRandomColor()],
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        display: false,
                        barPercentage: 0.7,
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'File size Total'
                },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return tooltipItem.yLabel + " %";
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}