{% extends "../sub_base.html" %}
{% load static %}
{% load i18n %}
{% load two_factor_tags %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <nav data-aos="fade-left" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                    <ol class="breadcrumb mb-4">
                        {% url 'account:account_profile' as account_url %}
                        {% url 'home' as home_url %}
                        {% breadcrumb "Home" home_url %}
                        {% breadcrumb "Profile" %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block sub_content %}
    <style>
        #confirmMessage {
            margin-top: 10px;
            font-weight: bold;
            color: red;
        }
        .user-avatar {
            border: 1px solid var(--clr-purple-1);
        }
        .image-container{
            height: auto;
            position: relative;
        }
    </style>
    <div class="row gutters-sm">
    <div class="col-md-3 d-none d-md-block" data-aos="fade-left" data-aos-delay="300">
        <div class="card">
            <div class="card-body">
                {% include 'account/profile_tab.html' %}
            </div>
        </div>
    </div>
    <div class="col-md-9" data-aos="fade-left" data-aos-delay="200">
    <div class="card">
    <div class="card-header border-bottom mb-3 d-flex d-md-none">
        {% include 'account/profile_tab_mobile.html' %}
    </div>
    <div class="card-body tab-content">
        <div class="tab-pane" id="profile">
            <h6>EDIT YOUR PROFILE INFORMATION</h6>
            <hr>
            {% include 'account/profile_detail.html' %}
        </div>
        <div class="tab-pane" id="account">
            ????
            {#            <h6>ACCOUNT SETTINGS ????</h6>#}
            {#            <hr>#}
            {#            <form>#}
            {#                <div class="form-group">#}
            {#                    <label for="username">Username</label>#}
            {#                    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter your username" value="kennethvaldez">#}
            {#                    <small id="usernameHelp" class="form-text text-muted">After changing your username, your old username becomes available for anyone else to claim.</small>#}
            {#                </div>#}
            {#                <hr>#}
            {#                <div class="form-group">#}
            {#                    <label class="d-block text-danger">Delete Account</label>#}
            {#                    <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>#}
            {#                </div>#}
            {#                <button class="btn btn-danger" type="button">Delete Account</button>#}
            {#            </form>#}
        </div>

        <div class="tab-pane" id="security">
            <h6>SECURITY SETTINGS</h6>
            <hr>
            {% include 'account/password_change.html' %}
            <hr>
            <label class="d-block">Two Factor Authentication</label>
            {% if default_device %}
                <h6>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor
                    authentication.{% endblocktrans %}</h6>
                <p>{% blocktrans trimmed %}However we strongly discourage you to do so, you can
                    also disable two-factor authentication for your account.{% endblocktrans %}</p>
                <div class="mt-3">
                    <p><a class="btn btn-secondary" href="{% url 'two_factor:disable' %}">

                        {% trans "Disable Two-Factor Authentication" %}</a>
                        <a href="{% url 'two_factor:profile' %}"
                           class="btn btn btn-link">{% trans "Back to Account Security" %}</a></p>
                </div>
            {% else %}
                <p>{% blocktrans trimmed %}Two-factor authentication is not enabled for your
                    account. Enable two-factor authentication for enhanced account
                    security.{% endblocktrans %}</p>
                <p><a href="{% url 'two_factor:setup' %}" class="prm-btn btn">
                    {% trans "Enable Two-Factor Authentication" %}</a>
                </p>
            {% endif %}
            <p class="small text-muted mt-2">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>
            <hr>
            <form>
                <div class="form-group mb-0">
                    <label class="d-block">Sessions</label>
                    <p class="font-size-sm text-secondary">This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
                    <ul class="list-group list-group-sm">
                        <li class="list-group-item has-icon">
                            <div>
                                <h6 class="mb-0">San Francisco City 190.24.335.55</h6>
                                <small class="text-muted">Your current session seen in United States</small>
                            </div>
                            <button class="btn btn-light btn-sm ml-auto" type="button">More info</button>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="tab-pane" id="notification">
            <h6>Notification</h6>
            <hr>
            <div class="col-12 mb-4">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">??????</h2>
                    <!-- Create a canvas element to display the chart -->
                    <canvas id="storageUsageChart"></canvas>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="billing">
            <h6>BILLING SETTINGS</h6>
            <hr>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <!-- Billing card 3-->
                    <div class="card h-100 border-start-lg border-start-success">
                        <div class="card-body">
                            <div class="small text-muted">Current plan</div>
                            <div class="h3 d-flex align-items-center">{{ request.user.get_active_subscriptions.0.plan.product.name }}</div>
                            <div class="h5 d-flex align-items-center">Valid till: {{ request.user.get_active_subscriptions.0.current_period_end }}</div>
                            {#                        <a class="text-arrow-icon small text-success" href="#!">#}
                            {#                            Upgrade plan#}
                            {#                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>#}
                            {#                        </a>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <!-- Billing card 2-->
                    <div class="card h-100 border-start-lg border-start-secondary">
                        <div class="card-body">
                            <div class="small text-muted">Current monthly bill</div>
                            <div class="h3">${{ request.user.get_active_subscriptions.0.plan.amount}}</div>
                            <div class="small text-muted">Next payment due</div>
                            <div class="h3">{{ request.user.get_active_subscriptions.0.current_period_end.date }}</div>
                            {#                        <a class="text-arrow-icon small text-secondary" href="#!">#}
                            {#                            View payment history#}
                            {#                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>#}
                            {#                        </a>#}
                            {% for subscription in user.get_active_subscriptions %}
                                {% if subscription.cancel_at_period_end %}
                                    <p>Subscription is set to be canceled at the end of the billing period.</p>
                                {% else %}
                                    <a href="{% url 'subscriptions:CancelSubscriptionView' %}" class="prm-btn btn my-2" id="cancel_subscription" style="background-color: var(--clr-red-purple-1);color:white;">
                                        Cancel subscription
                                    </a>
                                {% endif %}
                            {% empty %}
                                <p>No active subscriptions found.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Billing history card-->
                <div class="card mb-4">
                    <div class="card-header">Billing History</div>
                    <div class="card-body p-0">
                        <!-- Billing history table-->
                        <div class="table-responsive table-billing-history">
                            {% include 'account/invoice_list.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="tab-pane" id="teams">
            <h6>Teams</h6>
            <hr>
            <div class="col-12 mb-4">
                <div class="card card-body bg-white border-light shadow-sm mb-4">

                        {% include 'account/teams/team_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>

        $('#cancel_subscription').on('click', function(e) {
            e.preventDefault();
            // Set the modal title
            $("#confirmModalLabel").text("Cancel Subscription");
            $("#confirmButton").text("Confirm");
            $("#dismissButton").text("Discard");
            $("#confirmModal").attr("data-keyboard", "true");
            $("#confirmModal").attr("data-backdrop", "dynamic");
            // Set the modal body with the form
            var confirmationMessage = "Are you sure you want to cancel your subscription? Your subscription will be canceled at the end of the billing period.";
            $("#confirmMessage").html(confirmationMessage);
            // Show the modal
            $("#confirmModal").modal("show");
        });

        // On page load, get the activeTab from local storage
        document.addEventListener("DOMContentLoaded", function() {
            let activeTab = localStorage.getItem("activeTab");
            if (!activeTab) {
                // If there is no activeTab in local storage, set a default tab
                activeTab = "#profile";
                localStorage.setItem("activeTab", activeTab);
            }

            // Activate the tab from local storage
            activateTab(activeTab);
        });

        // Add a click event listener to all tab links
        const tabLinks = document.querySelectorAll(".nav-link");
        tabLinks.forEach(function(link) {
            link.addEventListener("click", function(event) {
                // Remove the 'active' class from all tab links and tab panes
                deactivateTabs();

                // Add the 'active' class to the clicked tab link and corresponding tab pane
                activateTab(event.target.getAttribute("href"));

                // Store the active tab in local storage
                localStorage.setItem("activeTab", event.target.getAttribute("href"));
            });
        });

        // Function to deactivate all tabs
        function deactivateTabs() {
            const tabLinks = document.querySelectorAll(".nav-link");
            const tabPanes = document.querySelectorAll(".tab-pane");

            tabLinks.forEach(link => link.classList.remove("active"));
            tabPanes.forEach(pane => pane.classList.remove("active"));
        }

        // Function to activate a specific tab
        function activateTab(tab) {
            const tabLink = document.querySelector(`.nav-link[href="${tab}"]`);
            const tabPane = document.querySelector(tab);

            if (tabLink) {
                tabLink.classList.add("active");
            }

            if (tabPane) {
                tabPane.classList.add("active");
            }
        }
    </script>
    <script type="text/javascript">
        var cropper, imageFile, base64ImageString, cropX, cropY, cropWidth, cropHeight;

        enableImageOverlay()

        function readURL(input){
            if(input.files && input.files[0]){
                var reader = new FileReader()

                reader.onload = function(e){
                    disableImageOverlay()
                    var image = e.target.result
                    var imageField = document.getElementById("id_profile_image_display")
                    imageField.src = image
                    cropper = new Cropper(imageField, {
                        aspectRatio: 1/1,
                        crop(event){
                            console.log("CROP START")
                            console.log("x: " + event.detail.x)
                            console.log("y: " + event.detail.y)
                            console.log("width: " + event.detail.width)
                            console.log("height: " + event.detail.height)
                            setImageCropProperties(
                                image,
                                event.detail.x,
                                event.detail.y,
                                event.detail.width,
                                event.detail.height,
                            )
                        }
                    })
                }

                reader.readAsDataURL(input.files[0])
            }
        }

        function setImageCropProperties(image, x, y, width, height){
            imageFile = image
            cropX = x
            cropY = y
            cropWidth = width
            cropHeight = height
        }

        function isImageSizeValid(image){
            var startIndex = image.indexOf("base64,") + 7
            var base64str = image.substr(startIndex)
            var decoded = atob(base64str)
            if(decoded.length >= "{{ DATA_UPLOAD_MAX_MEMORY_SIZE }}"){
                return null
            }
            return base64str
        }
        function cropImage(image, x, y, width, height){
            base64ImageString = isImageSizeValid(image)
            if(base64ImageString != null){
                var requestData = {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "image": base64ImageString,
                    "cropX": cropX,
                    "cropY": cropY,
                    "cropWidth": cropWidth,
                    "cropHeight": cropHeight,
                }
                displayLoadingSpinner(true)
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    url: "{% url 'account:account_crop_image'%}",
                    data: requestData,
                    timeout: 10000,
                    success: function (data){
                        if(data.result == "success"){
                            document.getElementById("id_cancel").click()
                        }else if(data.result == "error"){
                            alert(data.exception)
                            document.getElementById("id_cancel").click()
                        }
                    },
                    error: function (data){
                        console.log("ERROR...", data)
                    },
                    complete: function (data){
                        displayLoadingSpinner(false)
                    },
                })
            }else{
                alert("Upload an image smaller than 10MB !")
                document.getElementById("id_cancel").click()
            }
        }

        function enableImageOverlay(){
            var text = document.getElementById("id_text")
            text.style.backgroundColor = "#0066ff"
            text.style.color = "white"
            text.style.fontSize = "16px"
            text.style.padding = "16px 32px"
            text.style.cursor = "pointer"

            var profileImage = document.getElementById("id_profile_image")
            profileImage.style.opacity = "1"
            profileImage.style.display = "block"
            profileImage.style.width = "100%"
            profileImage.style.height = "100%"
            profileImage.style.transition = ".5s ease"
            profileImage.style.backfaceVisibility = "hidden"
            profileImage.style.cursor = "pointer"

            var middleContainer = document.getElementById("id_middle_container")
            {#middleContainer.style.transition = ".5s ease"#}
            middleContainer.style.opacity = "0"
            middleContainer.style.position = "absolute"
            middleContainer.style.top = "50%"
            middleContainer.style.left = "50%"
            middleContainer.style.transform = "translate(-50%, -50%)"

            var imageContainer = document.getElementById("id_image_container")

            imageContainer.addEventListener("mouseover", function (event){
                profileImage.style.opacity = "0.3"
                middleContainer.style.opacity = "1"
            })
            imageContainer.addEventListener("mouseout", function (event){
                profileImage.style.opacity = "1"
                middleContainer.style.opacity = "0"
            })
            imageContainer.addEventListener("click", function (event){
                document.getElementById("id_profile_image").click()
            })

            var cropConfirm = document.getElementById("id_image_crop_confirm")
            cropConfirm.classList.remove("d-flex")
            cropConfirm.classList.remove("flex-row")
            cropConfirm.classList.remove("justify-content-between")
            cropConfirm.classList.add("d-none")
        }

        function disableImageOverlay(){
            var profileImage = document.getElementById("id_profile_image_display")
            var middleContainer = document.getElementById("id_middle_container")
            var imageContainer = document.getElementById("id_image_container")
            var text = document.getElementById("id_text")

            imageContainer.removeEventListener("mouseover", function(event){

            })
            imageContainer.removeEventListener("mouseout", function(event){

            })

            profileImage.style.opacity = "1"
            middleContainer.style.opacity = "1"
            text.style.cursor = "default"
            text.style.opacity = "0"

            imageContainer.removeEventListener("click", function(event){
                {#event.preventDefault()#}
            })

            document.getElementById("id_profile_image").addEventListener("click", function(event){
                event.preventDefault()
            })

            var cropConfirm = document.getElementById("id_image_crop_confirm")
            cropConfirm.classList.add("d-flex")
            cropConfirm.classList.add("flex-row")
            cropConfirm.classList.add("justify-content-between")
            cropConfirm.classList.remove("d-none")

            var confirm = document.getElementById("id_confirm")
            confirm.addEventListener("click", function (event){
                cropImage(imageFile, cropX, cropY, cropWidth, cropHeight)

            })

            var cancel = document.getElementById("id_cancel")
            cancel.addEventListener("click", function(event){
                console.log("Reloading window...")
                window.location.reload()
            })
        }
    </script>
    <script>

        {#$('.show-change-password').on('click', function() {#}
        {#    // Set the modal title#}
        {#    $("#confirmModalLabel").text("Reset Password");#}
        {#    $("#confirmButton").text("Update");#}
        {#    $("#dismissButton").text("Cancel");#}
        {#    $("#confirmModal").attr("data-keyboard", "true");#}
        {#    $("#confirmModal").attr("data-backdrop", "dynamic");#}
        {#    // Set the modal body with the form#}
        {#    $("#confirmMessage").html($("#passwordChangeDiv").html());#}
        {#    // Show the modal#}
        {#    $("#confirmModal").modal("show");#}
        {#});#}

            $("#show-change-password").on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'account:password_change' %}",
                    data: $('#passwordChangeForm').serialize(),
                    dataType: 'json',
                    success: function(data) {
                        if (data.result === 'success') {
                            // Close the modal and display a success message
                            $('#confirmModal').modal('hide');
                            const notyf = new Notyf();
                            notyf.success("Password changed successfully.");
                            $("#passwordChangeForm")[0].reset();
                        }
                    },
                    error: function(data) {
                        // Display form errors in the modal
                        $.each(data.responseJSON, function(field, errors) {
                            var errorDiv = $(`#id_${field}`).closest('.form-group').find('.errors');
                            errorDiv.empty();
                            $.each(errors, function(index, error){
                                errorDiv.append(`<p style="color: red">${error}</p>`);
                            });
                        });
                    }
                });
            });
            {#    <!-- Add JavaScript to create the chart -->#}
            function getRandomColor() {
                let letters = '0123456789ABCDEF';
                let color = '#';
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            let storageUsed = {{ storage_used }};
            let storageUsedUnit = "{{ storage_used_unit }}";
            let storageLimit = {{ storage_limit }};
            let storageLimitUnit = "{{ storage_limit_unit }}";

            if (storageUsedUnit == "GB") {
                storageUsed *= 1024;
            }
            let usedPercentage = Math.round((storageUsed / (storageLimit * 1024)) * 100);
            let availablePercentage = 100 - usedPercentage;

            {#console.log("storageUsed", storageUsed);#}
            {#console.log("storageUsedUnit", storageUsedUnit);#}
            {#console.log("storageLimit", storageLimit);#}
            {#console.log("storageLimitUnit", storageLimitUnit);#}
            {#console.log("usedPercentage", usedPercentage);#}
            {#console.log("availablePercentage", availablePercentage);#}

            let ctx = document.getElementById('storageUsageChart').getContext('2d');
            let storageUsageChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Used', 'Available'],
                    datasets: [{
                        data: [usedPercentage, availablePercentage],
                        backgroundColor: [getRandomColor(), getRandomColor()],
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Storage Usage'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                let dataset = data.datasets[tooltipItem.datasetIndex];
                                let index = tooltipItem.index;

                                if (index == 0) {
                                    if (storageUsedUnit == "GB") {
                                        return 'Used: ' + (storageUsed / 1024).toFixed(2) + ' ' + storageUsedUnit;
                                    }
                                    else{
                                        return 'Used: ' + (storageUsed).toFixed(2) + ' ' + storageUsedUnit;
                                    }
                                } else {
                                    let avaiblable = (storageLimit * 1024 - storageUsed).toFixed(2)
                                    if (avaiblable < 1000){
                                        return 'Available: ' + (storageLimit * 1024 - storageUsed).toFixed(2) + ' ' + 'MB';
                                    }else{
                                        return 'Available: ' + (storageLimit - storageUsed /1024).toFixed(2) + ' ' + storageLimitUnit;

                                    }
                                }
                            }
                        }
                    }
                }
            });
    </script>

{% endblock %}



