{% load i18n %}
{#<div class="col-12" id="passwordChangeDiv">#}
{#    <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500" id="passwordChangeDiv">#}
    <label class="d-block">{% trans "Change Password" %}</label>
        <form method="post" action="" id="passwordChangeForm">
            {% csrf_token %}
            <!-- Form -->
            <div class="form-group mb-4">
                <label for="id_old_password">{% trans "Old Password" %}</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                    <input name="old_password" type="password" placeholder="{% trans "Password" %}" class="form-control" id="id_old_password" required>
                </div>
                <div class="errors"></div>
            </div>
            <!-- End of Form -->
            <!-- Form -->
            <div class="form-group mb-4">
                <label for="id_new_password1">{% trans "New Password" %}</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                    <input name="new_password1" type="password" placeholder="{% trans "Password" %}" class="form-control" id="id_new_password1" required>
                </div>
                <div class="errors"></div>
            </div>
            <!-- End of Form -->
            <!-- Form -->
            <div class="form-group mb-4">
                <label for="id_new_password2">{% trans "New Password Confirmation" %}</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                    <input name="new_password2" type="password" placeholder="{% trans "Password" %}" class="form-control" id="id_new_password2" required>
                </div>
                <div class="errors"></div>
            </div>
            <button class="custom-button btn" id="show-change-password">{% trans "Change password" %}</button>
            {#            {% for field in form %}#}
            {#                {% for error in field.errors %}#}
            {#                    <p style="color: red">{{ error }}</p>#}
            {#                {% endfor %}#}
            {#            {% endfor %}#}
            <!-- End of Form -->
        </form>
{#    </div>#}
{#</div>#}