{% load static %}
<div class="row">
    <form method="POST" enctype="multipart/form-data" class="form-signin">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-xl-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-light text-center p-0">

                            <div class="mt-3 pl-4 pr-4" id="id_image_crop_confirm">
                                <span id="id_cancel" class="btn btn-gray-700">Cancel</span>
                                <span id="id_confirm" class="prm-btn btn ml-4">Validate</span>
                            </div>
                            <div class="card-body py-5">
                                <div class="image-container" id="id_image_container">
                                    {% if user.avatar_url and 'default_user_icon.png' not in user.avatar_url %}
                                        <img src="{{ user.avatar_url }}"
                                             id="id_profile_image_display"
                                             class="border-2 border-purple user-avatar large-avatar rounded-circle mx-auto profile-image"
                                             alt="Neil Portrait">
                                    {% else %}
                                        <img src="{% static 'dastore/default_user_icon.png' %}"
                                             id="id_profile_image_display"
                                             class="border-2 border-purple user-avatar large-avatar rounded-circle mx-auto profile-image">
                                    {% endif %}
                                    <div class="middle" id="id_middle_container">
                                        <div class="text"
                                             id="id_text">
                                            Edit
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="d-none" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)">
                            <div class="text-gray small">JPG or PNG. Max size of 10 MB.</div>
                            <div class="card-body">
                                <h5>{{ user.username }}</h5>
                                <p class="prm-btn btn purple">
                                    {% if request.user.get_active_subscriptions %}
                                        Plan : {{ request.user.get_active_subscriptions.0.plan.product.name }}
                                        <p>Valid till: {{ request.user.get_active_subscriptions.0.current_period_end }}</p>
                                    {% else %}No active subscription</p>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="col-12 mb-4">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Storage information</h2>
                    <!-- Create a canvas element to display the chart -->
                    <canvas id="storageUsageChart"></canvas>
                </div>
            </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <h2 class="h5 mb-4">Profile information</h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="first_name">First Name</label>
                                <input name="first_name" class="form-control" id="first_name" type="text"
                                       placeholder="Enter your first name" value="{{ form.initial.first_name }}"
                                       required>
                                {% if form.first_name.errors %}
                                    <span style="color: red;margin: 0">
                                        {{ form.first_name.errors }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Last Name</label>
                                <input name="last_name" class="form-control" id="last_name" type="text"
                                       placeholder="Also your last name" value="{{ form.initial.last_name }}"
                                       required>
                                {% if form.last_name.errors %}
                                    <span style="color: red;margin: 0">
                                        {{ form.last_name.errors }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input name="email" class="form-control" id="email" type="email"
                                       placeholder="name@company.com" value="{{ form.initial.email }}" readonly>
                                {% if form.email.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.email.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input name="username" class="form-control" id="username" type="text"
                                       placeholder="Username" value="{{ form.initial.username }}" readonly>
                                {% if form.username.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.username.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input name="phone" class="form-control" id="phone" type="number"
                                       placeholder="+12-345 678 910" value="{{ form.initial.phone }}" required>
                                {% if form.phone.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.phone.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <h2 class="h5 my-4">Address</h2>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input name="address" class="form-control" id="address" type="text"
                                       placeholder="Enter your home address" value="{{ form.initial.address|default:'' }}" required>
                                {% if form.address.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.address.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <div class="form-group">
                                <label for="number">Number</label>
                                <input name="number" class="form-control" id="number" type="number"
                                       placeholder="No." value="{{ form.initial.number|default:'' }}" required>
                                {% if form.number.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.number.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input name="city" class="form-control" id="city" type="text" placeholder="City"
                                       value="{{ form.initial.city|default:'' }}" required>
                                {% if form.city.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.city.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="zip">ZIP</label>
                                <input name="zip" class="form-control" id="zip" type="tel" placeholder="ZIP"
                                       value="{{ form.initial.zip|default:'' }}" required>
                                {% if form.zip.errors %}
                                    <span style="color: red;margin: 0">
                                            {{ form.zip.errors }}
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-outline-light text-gray-700" href="{% url 'account:account_profile' %}"><i class="fas fa-angle-left mr-2"></i>Return</a>
                        <button type="submit" class="prm-btn btn mx-2">Update Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>