{% load static %}
<div class="profile-tab-nav border-right ">
    <div class="p-4 text-center">
        <div class="img-circle mb-3">
            {% if user.avatar_url and 'default_user_icon.png' not in user.avatar_url %}
                <img src="{{ user.avatar_url }}" class="user-avatar large-avatar rounded-circle mx-auto" alt="Neil Portrait">
            {% else %}
                <img src="{% static 'dastore/default_user_icon.png' %}" class="border border-dark user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4">
            {% endif %}

        </div>
        <h4 class="text-center">{{ username }}</h4>
    </div>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
            <i class="fa fa-home text-center mr-1"></i>
            Account
        </a>
        <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
            <i class="fa fa-key text-center mr-1"></i>
            Password
        </a>
        <a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
            <i class="fa fa-user text-center mr-1"></i>
            Security
        </a>
        <a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
            <i class="fa fa-tv text-center mr-1"></i>
            Application
        </a>
        <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
            <i class="fa fa-bell text-center mr-1"></i>
            Notification
        </a>
    </div>
</div>