{% load static %}

<style>
.nav-tabs .nav-link.active {
    background-color: var(--clr-purple-1);
}
</style>
<ul class="nav nav-tabs card-header-tabs nav-gap-x-1">
    <li class="nav-item">
        <a href="{% url 'account:account_profile' %}" class="nav-link has-icon" data-id="account">
            {% include 'partials/icons/icon_settings.html' %}
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'account:account_security' %}" class="nav-link has-icon" data-id="security">
            {% include 'partials/icons/icon_shield_security.html' %}
        </a>
    </li>
    <li class="nav-item">
        {% if request.user.get_active_subscriptions %}
            <a href="{% url 'account:account_storage_stat' %}"
               class="nav-link has-icon" data-id="statistics">
                {% include 'partials/icons/icon_pie_chart.html' %}
            </a>

            </li>
            <li class="nav-item">
                <a href="{% url 'account:account_billing' %}" class="nav-link has-icon" data-id="billing">
                    {% include 'partials/icons/icon_credit_card.html' %}
                </a>
            </li>
        {% endif %}

    <li class="nav-item">
        {% if request.user.is_company or request.user.is_superuser %}
            <a href="{% url 'team:team_list' %}"
               class="nav-link has-icon" data-id="team">
                {% include 'partials/icons/icon_slack.html' %}
            </a>
        {% endif %}
    </li>
    <li class="nav-item">
        {% if request.user.has_teams and not request.user.get_active_subscriptions %}
            <a href="{% url 'team:membership_detail' %}"
               class="nav-link has-icon" data-id="membership_detail">
                {% include 'partials/icons/icon_slack.html' %}
                Membership
            </a>
        {% endif %}
    </li>
</ul>