{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load breadcrumb %}


{% block breadcrumbs %}
    <div class="container-fluid-custom2">
        <div class="breadcrumb-container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4" style="width: auto!important">
                    <nav data-aos="fade-right" data-aos-delay="100" aria-label="breadcrumb" class="breadcrumb-nav">
                        <ol class="breadcrumb mb-4">
                            {% url 'subscriptions:SubListView' as plans_list_url %}
                            {% url 'home' as home_url %}
                            {% breadcrumb "Home" home_url %}
                            {% breadcrumb 'Subscriptions List' plans_list_url %}
                            {% breadcrumb 'Register' %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div data-aos="fade-right" data-aos-delay="200" class="row justify-content-center form-bg-image" style="background-image: url({% static 'illustrations/signin.svg' %})">
                <div class="col-12 col-xl-4">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <div class="single_price_plan choice" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h2 class="h5 mb-4">{% translate "Plan choosen" %}</h2>
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            <!-- Side Shape-->
                            <div class="title">
                                <h3>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.product.metadata.fr_name }}
                                    {% else %}
                                        {{ plan.product.name }}
                                    {% endif %}
                                </h3>
                                <p>
                                    {% if LANGUAGE_CODE == "fr" %}
                                        {{ plan.product.metadata.fr_subtitle }}
                                    {% else %}
                                        {{ plan.product.metadata.subtitle }}
                                    {% endif %}
                                </p>
                                <div class="line"></div>
                            </div>
                            <div class="price">
                                <h4 style="font-size: 28px">
                                    {{ plan.amount }}
                                    {% if LANGUAGE_CODE == "fr" %}
                                        €/
                                    {% else %}
                                        $/
                                    {% endif %}
                                    {% if plan.interval == "month" and LANGUAGE_CODE == "fr" %}
                                        {% translate "month" %}
                                    {% elif plan.interval == "month" %}
                                        {{ plan.interval }}
                                    {% elif plan.interval == "year" and LANGUAGE_CODE == "fr" %}
                                        {% translate "year" %}
                                    {% else %}
                                        {{ plan.interval }}

                                    {% endif %}
                                {{ plan.metadata.storage_limit }} GB
                                </h4>
                            </div>
                            <div class="description">
                                <p> {% if LANGUAGE_CODE == "fr" %}
                                    {{ plan.product.metadata.fr_desc }}
                                {% else %}
                                    {{ plan.product.description }}
                                {% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right" data-aos-delay="300" class="col-12 col-xl-8">
                    <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">{% translate "Create an account" %}</h1>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">{% translate "Your Email" %}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                    <input name="email" type="email" class="form-control" placeholder="example@company.com" id="email" autofocus required>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="username">{% translate "Your Username" %}</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                                    <input name="username" type="username" class="form-control" placeholder="b.david42" id="username" autofocus required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="form-group">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="password">{% translate "Your Password" %}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                        <input name="password1" type="password" placeholder="{% trans "Password" %}" class="form-control" id="password" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="confirm_password">{% translate "Confirm Password" %}</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon5"><span class="fas fa-unlock-alt"></span></span>
                                        <input name="password2" type="password" placeholder="Confirm Password" class="form-control" id="confirm_password" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="terms" required>
                                    <label class="form-check-label" for="terms">
                                        {% translate "I agree to the" %}<a href="#">{% translate "terms and conditions" %}</a>
                                    </label>
                                </div>
                                {#                                {{ form.captcha }}#}
                            </div>
                            <button type="submit" class="custom-button btn btn-block">{% translate "Sign in" %}</button>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="py-2" style="color: red">{{ field.label }}: {{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                                <div class="py-2" style="color: red">
                                    {% for error in form.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </form>
                        {#                        <div class="mt-3 mb-4 text-center">#}
                        {#                            <span class="font-weight-normal">or</span>#}
                        {#                        </div>#}
                        {#                        <div class="d-flex justify-content-center my-4">#}
                        {#                            <a href="#" class="btn btn-icon-only btn-pill btn-outline-light text-facebook mr-2" type="button" aria-label="facebook button" title="facebook button">#}
                        {#                                <span aria-hidden="true" class="fab fa-facebook-f"></span>#}
                        {#                            </a>#}
                        {#                            <a href="#" class="btn btn-icon-only btn-pill btn-outline-light text-twitter mr-2" type="button" aria-label="twitter button" title="twitter button">#}
                        {#                                <span aria-hidden="true" class="fab fa-twitter"></span>#}
                        {#                            </a>#}
                        {#                            <a href="#" class="btn btn-icon-only btn-pill btn-outline-light text-facebook" type="button" aria-label="github button" title="github button">#}
                        {#                                <span aria-hidden="true" class="fab fa-github"></span>#}
                        {#                            </a>#}
                        {#                        </div>#}
                        <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    {% translate "Already have an account?" %}
                                    <a href="{% url 'account:login' %}" class="font-weight-bold">{% translate "Login here" %}</a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}