{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backup and restore application in Django</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'js/cropperjs/dist/cropper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
</head>
<body>
{% include 'snippets/header.html' %}
<div class="container" id="id_loading_spinner" style="display: none">
    <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Body -->
<main id='main' class="container py-5">
<div class="middlebar">{% block middlebar %}{% endblock %}</div>
{% include 'snippets/messages.html' %}
    {% block content %}
        this is my content !
    {% endblock content %}

    <!-- End Body -->
</main>
{% include 'snippets/footer.html' %}
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.event.move@1.3.6/js/jquery.event.move.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="{% static 'js/jquery-sticky/jquery.sticky.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="module" src="{% static 'js/cropperjs/dist/cropper.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>
{% block script %}
    <script type="text/javascript">
    function displayLoadingSpinner(isDisplayed){
        var spinner = document.getElementById("id_loading_spinner")
        if(isDisplayed){
            spinner.style.display = "block"
        }
        else{
            spinner.style.display = "none"
        }
    }
</script>
{% endblock %}

</html>