{% extends 'base.html' %}
{% load file_size %}
{% block title %} Backup {% endblock title %}

{% block breadcrumb %}
    {% include "extbackup/exbackup_breadcrumb.html" %}
{% endblock %}

{% block content %}
    <div class="backup_dashboard">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4 table-wrapper table-responsive">
                    <h2 class="h5 mb-4">Backup Dashboard</h2>
                    <div class="mt-3">
                        <a href="{% url 'extbackup:backup_refresh' %}" class="btn btn-primary mb-2">Refresh</a>
                    </div>
                    <form action="{% url 'extbackup:delete_backup_view' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger mb-2 delete-button" type="submit" data-confirm="Are you sure you want to delete selected files ?">Delete Selected Files</button>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th><input class="form-check-input" id="check_all" type="checkbox"></th>
                                <th scope="col">Backup</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date upload</th>
                                <th scope="col">Size</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in folders %}
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" name="ids" value="{{ file.0 }}"></td>
                                    <td>
                                        <span class="font-weight-normal">
                                            <i id="hash-check-icon-{{ file.0 }}" class="fa fa-question-circle text-warning" data-toggle="tooltip" data-placement="top" title="Integrity check: pending" style="display: none"></i>
                                            {{file.1}}
                                            <i id="hash-check-spinner-{{ file.0 }}" class="fa fa-spinner fa-spin d-none"></i>
                                        </span>
                                    </td>
                                    <td>
                                    <span class="font-weight-normal">
                                        {% if file.2|default_if_none:"" == "" %}
                                            No description for this Backup.
                                        {% else %}
                                            {{ file.2 }}
                                        {% endif %}
                                    </span>
                                    </td>
                                    <td><span class="font-weight-normal">{{file.3}}</span></td>
                                    <td><span class="font-weight-normal">{{ file.4|sizify }}</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'extbackup:download_zip_file' file.0  %}"><span class="fas fa-download mr-2"></span>Download</a>
                                                <a class="dropdown-item text-info" href="{% url 'extbackup:view_zip_content' file.0  %}"><span class="fas fa-eye mr-2"></span>View Details</a>
                                                <a class="dropdown-item text-info check-hash" href="#" data-url="{% url 'extbackup:check_file_hashes' file_id=file.0  %}">
                                                  <span class="material-symbols-outlined mr-2" style="line-height: 1;">
                                                    plagiarism
                                                </span>
                                                Check Integrity
                                                </a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            {% empty %}
                                <tr>
                                    <td><h6>You have no backup at the moment...</h6></td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    {% include "snippets/add_active_class.html" %}
    <script>
        $(document).ready(function() {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $('.check-hash').click(function(event) {
                event.preventDefault();
                const url = $(this).data('url');
                const file_id = $(this).closest('tr').find('[id^="hash-check-icon-"]').attr('id').replace('hash-check-icon-', '');
                const icon = $('#hash-check-icon-' + file_id);
                const spinner = $('#hash-check-spinner-' + file_id);

                // Show the icon
                icon.show();

                // Show the spinner
                spinner.removeClass('d-none');
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function(response, textStatus, xhr) {
                        const status = response.message;
                        const statusCode = xhr.status;
                        const icon = $('#hash-check-icon-' + file_id);
                        if (statusCode === 200) {
                            icon.removeClass('fa-question-circle text-warning').addClass('fa-check-circle text-success');
                        } else {
                            icon.removeClass('fa-question-circle text-warning').addClass('fa-exclamation-circle text-danger');
                        }
                        icon.attr('data-original-title', status).tooltip('show');
                        // Automatically hide the tooltip after 3 seconds (3000 ms)
                        setTimeout(function() {
                            icon.tooltip('hide');
                        }, 3000);
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        if (xhr.status === 429) {
                            const message = xhr.responseJSON.message;
                            // Display the rate limit message to the user
                            // You can use an alert, a tooltip, or any other preferred method
                            icon.attr('data-original-title', message).tooltip('show');
                        }
                        else{
                            console.error('Error:', errorThrown);
                        }

                    },
                    complete: function() {
                        // Hide the spinner
                        spinner.addClass('d-none');
                    }
                });
            });

            $('.delete-button').on('click', function(event) {
                event.preventDefault();
                var message = $(this).data('confirm');
                $('#confirmMessage').text(message);
                $('#confirmModal').modal('show');
                $('#confirmButton').on('click', function() {
                    $('#confirmModal').modal('hide');
                    $(event.target).closest('form').submit();
                });
            });
        });
        $(function() {
            //If check_all checked then check all table rows
            $("#check_all").on("click", function () {
                if ($("input:checkbox").prop("checked")) {
                    $("input:checkbox[name='ids']").prop("checked", true);
                } else {
                    $("input:checkbox[name='ids']").prop("checked", false);
                }
            });
            // Check each table row checkbox
            $("input:checkbox[name='ids']").on("change", function () {
                var total_check_boxes = $("input:checkbox[name='ids']").length;
                var total_checked_boxes = $("input:checkbox[name='ids']:checked").length;

                // If all checked manually then check check_all checkbox
                if (total_check_boxes === total_checked_boxes) {
                    $("#check_all").prop("checked", true);
                }
                else {
                    $("#check_all").prop("checked", false);
                }
            });
        });
    </script>
{% endblock script %}