{% extends 'base.html' %}
{#{% load widget_tweaks %}#}
{% block title %} Home {% endblock title %}


{% block content %}
    <style>
        .not-visible{
            display: none;
        }
        .file-upload input[type='file'] {
            display: none;
        }

        body {
            background: rgb(187,187,187);
            background: linear-gradient(196deg, rgba(187,187,187,1) 0%, rgba(221,249,255,1) 100%);
        }

        .rounded-lg {
            border-radius: 1rem;
        }

        .custom-file-label.rounded-pill {
            border-radius: 50rem;
        }

        .custom-file-label.rounded-pill::after {
            border-radius: 0 50rem 50rem 0;
        }
    </style>
    <section>
        <div class="container p-5">

            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="p-5 bg-white shadow rounded-lg">
                        <img src="https://i.ibb.co/Zx10NQW/13748754681552302086-256.png"
                             alt="" width="200" class="d-block mx-auto mb-4">
                        <h6 class="text-center mb-4 text-muted">
                            Upload your files.
                        </h6>
                        <form action="" method='post' id="upload_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="custom-file text-center mb-5">
                                {{ form.as_p }}
                                {% for field in form %}
                                    <p>
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                {% if form.non_field_errors %}
                                    <div style="color: red">
                                        <p>{{form.non_field_errors}}</p>
                                    </div>

                                {% endif %}
                                <label class="custom-file-label" for="customFile">Select files</label>
                                <br>
                                <div id="file-count"></div>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Upload">
                            </div>
                        </form>
                        <div class="not-visible progress" id="progress">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script>

        const uploadForm = document.getElementById('upload_form');
        const input_file = document.getElementById('customFile');
        const progress_bar = document.getElementById('progress');

        $("#upload_form").submit(function(e){
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);


            const media_data = input_file.files[0];
            let totalSize = media_data.size;
            const max_length = 1024 * 1024 * 10;
            const chunkSize = max_length;
            let start = 0;
            let end = chunkSize;
            if(media_data != null){
                console.log(media_data);
                progress_bar.classList.remove("not-visible");
            }
            while (start < totalSize) {
                if (end > totalSize) {
                    end = totalSize;
                }
                formData.set("chunk", media_data.slice(start, end));
                formData.set("start", start);
                formData.set("end", end);
                formData.set("totalSize", totalSize);
                $.ajax({
                    type: 'POST',
                    url:'{% url 'extbackup:upload_files' %}',
                    data: formData,
                    dataType: 'json',
                    beforeSend: function(){

                    },
                    xhr:function(){
                        const xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener('progress', e=>{
                            if(e.lengthComputable){
                                const percentProgress = Math.round((e.loaded / e.total) * 100);
                                console.log(percentProgress);
                                progress_bar.innerHTML = `<div class="progress-bar progress-bar-striped bg-success"
                    role="progressbar" style="width: ${percentProgress}%" aria-valuenow="${percentProgress}" aria-valuemin="0"
                    aria-valuemax="100">${percentProgress}%</div>`
                            }
                        });
                        return xhr
                    },
                    success: function(response){
                        console.log(response);
                        progress_bar.classList.add('not-visible')
                    },
                    error: function(err){
                        console.log(err);
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                });
                start = end;
                end = start + chunkSize;
            }
            uploadForm.reset();
        });


        document.querySelector('input[type=file]').addEventListener('change', previewFiles);

        function previewFiles() {
            var files = this.files;
            var count = document.querySelector('#file-count');
            count.innerHTML = files.length + (files.length > 1 ? " Files are " : " File is ")+ " selected.";
        }
    </script>
{% endblock script %}