{% extends 'base.html' %}

{% block title %} Backup {% endblock title %}

{% block content %}
    <div class="view-content py-5">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card card-body bg-white border-light shadow-sm mb-4 table-wrapper table-responsive">
                    <h2 class="h5 mb-4">View content</h2>
                    <ul id="compositions-list" class="pure-tree main-tree">
                        {% for node in tree %}
                            <li>
                                <input type="checkbox"
                                       id="trigger-{{ node.name }}"
                                       checked="checked">
                                <label for="trigger-{{ node.name }}" class="open">{{ node.name }}</label>
                                {% if node.children %}
                                    <ul class="pure-tree"
                                        class="folder dropdown-toggle">
                                        {% for child in node.children %}
                                            {% include "extbackup/child_node.html" with child=child %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.pure-tree li:has(> ul) > label').click(function () {
                $(this).toggleClass('open');
            });
        });
    </script>
{% endblock script %}