{% load i18n %}
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1 data-aos="fade-right"><span>DaKeep <br>Privacy by design</span></h1>
                        <h2 data-aos="fade-right" data-aos-delay="100"><span> - {% trans "Seamless Backup" %}</span></h2>
                        <h2 data-aos="fade-right" data-aos-delay="150"><span> - {% trans "Secure Download" %}</span></h2>
                        <h2 data-aos="fade-right" data-aos-delay="150"><span> - {% trans "Team Collaboration" %}</span></h2>
                        <a data-aos="fade-right" data-aos-delay="200" href="#service" type="button" class="custom-button btn mx-2">{% trans "Learn more" %}</a>
                        <a data-aos="fade-right" data-aos-delay="200" href="{% url 'subscriptions:SubListView' %}" type="button" class="custom-button btn mx-2">{% trans "Subscribe" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>