<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1 data-aos="fade-right"><span>DaStore, Privacy by Design</span></h1>
                        <h2 data-aos="fade-right" data-aos-delay="100"><span>Backup, Restore, Download...</span></h2>
                        <a href="#service" class="target-scroll" data-aos="fade-right" data-aos-delay="100">
                            {% include 'partials/icons/icon_chevron_down.html' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>