<script>
   let root = $(':root');
    let colcharttextcolor = $(root).css('--clr-dark-purple');
    let chart_datasets = JSON.parse("{{ chart_datasets_json|escapejs }}");

    chart_datasets.forEach(dataset => {
        dataset.fill = dataset.fill === 'true';
    });

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            datasets: chart_datasets,
            labels:{{label|safe}},
        },
        options: {
            legend: {
                labels: {
                    fontColor: colcharttextcolor,
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontColor: colcharttextcolor,
                        precision: 0
                    }
                }],
                xAxes: [{
                    ticks: {
                        fontColor: colcharttextcolor,
                    }
                }]
            }
        }
    });
</script>







